<mat-divider></mat-divider>

<div class="company-bg">

    <div class="container mx-auto px-32">
        <div class="grid grid-cols-1 py-5">
            <div class="relative overflow-x-auto">
                <table class="border-collapse table-auto w-full text-sm fd-table">
                    <tbody>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Fine's No.
                            </td>
                            <th>
                                6234522658
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="w-full text-right mb-2">
                                    Fine Materials
                                </div>
                                <table class="fd-table-inner w-full">
                                    <thead>
                                    
                                        <tr>
                                            <td class="text-right">Material Description</td>
                                            <td class="text-right">Amount</td>
                                            <td class="text-right">Amount After Discount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                            <td class="text-right">Exceeding maximum speed limit by no more than 20km/hr</td>
                                            <td class="text-right">300</td>
                                            <td class="text-right">195</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>