table.fd-table td, table.fd-table th {
    padding: 15px;
    text-align: center;
    }
    .fd-table>tbody>tr:nth-of-type(odd) {
      background-color: #fff;
    }
    .fd-table>tbody>tr:nth-of-type(even) {
      background-color: #f8f8f8;
    }
    table.fd-table tr {
      border:1px solid #ddd;
    }
    table.fd-table tr:hover {
      box-shadow: 0 5px 30px -10px rgba(0,0,0,0.4);
      -webkit-box-shadow: 0 5px 30px -10px rgba(0,0,0,0.4);
      -moz-box-shadow: 0 5px 30px -10px rgba(0,0,0,0.4);
      background-color: #fff;
      position: relative;
      z-index: 9;
    }
    table.fd-table tr:hover table.fd-table-inner tr {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background-color: #fff;
      position: relative;
      z-index: 9;
    }
    table.fd-table {
      width:96%;
      margin:2%;
    }
    table.fd-table thead {
      border-bottom:2px solid #b68a35;
      color:#b68a35;
      font-weight: bold;
    }
    .w-full-96 {
      width: 96%;
      margin:2%;
    }