<div style="font-size: 12px !important; background-color: #ccc!important;">
  <div class="grid grid-cols-1" color="primary"  class="page-header">
               
    <label style="font-size: 14px; color: white; font-weight: bold;">{{'COO Attestation(s)' | translate}} - {{'In Review' | translate}}   </label>
  </div>
  
  <div style="padding:3px; border-radius:2px" >
    <div class="grid grid-cols-1">
  
        <div class="grid grid-cols-1 lg:grid-cols-3">
          <div   
            [ngClass]="{'col-span-2': shouldShow, 'col-span-3': !shouldShow }" style="border-radius:5px; padding:5px; background-color: #fff;">
  
            <p-table
            [(selection)]="selectedAttestations" 
            [resizableColumns]="true"  dataKey="coorequestno"  (onRowSelect)="loadsidepanel($event)" 
                         [scrollable]="false"  selectionMode="single"
                       #tableref [rowHover]="true" [paginator]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     
                       [totalRecords]="totalrecords"
                       [value]="cooAttestationLists"
                       [rows]="10"
                       [columns]="cols"
                       [showCurrentPageReport]="true"
                       [rowsPerPageOptions]="[10,20,50]"
                       [loading]="loading"
                       styleClass="p-datatable-customers p-datatable-gridlines"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                       [globalFilterFields]="[
                         'declarationumber',
                         'edasattestno',
                         'totalamount',
                         'declarationdate',
                         'attestreqdate',
                         'status',
                         ''
                       ]"
                       [lazy]="true" (onLazyLoad)="InitTable($event)" [loading]="loading"
            >
            <ng-template pTemplate="caption">
              <p-toolbar  >
                <ng-template pTemplate="left">
               
                    <div style="padding: 5px;" class="col-md-3 col-lg-3 col-sm-6">
                            <mat-form-field class="searchboxinput"  >
                              <mat-label><mat-icon style="font-size:larger;">{{'search' | translate}}</mat-icon> {{'Search' | translate}}</mat-label>
                              <input  matInput type="text" (input)="tableref.filterGlobal($any($event.target).value, 'contains')" placeholder="{{'Search' | translate}}">
                            </mat-form-field>
                 
                  </div>
                 
                </ng-template>
        
                <ng-template pTemplate="right">
  
                  <div  *ngIf="enableFilters" style="padding: 5px;" class="col-md-3 col-lg-3  col-md-6">
                    <mat-form-field class="filter_datepicker">
                      <mat-label>{{'Start Date' | translate}}</mat-label>
                      <input matInput [matDatepicker]="decDatepicker1" [max]="todayModel" [(ngModel)]="oneMonthAgo" placeholder="{{'From' | translate}}" name="createdatefrom"  />
                      <mat-datepicker-toggle matSuffix [for]="decDatepicker1"></mat-datepicker-toggle>
                      <mat-datepicker #decDatepicker1></mat-datepicker>
                    </mat-form-field>
            </div>
            <div  *ngIf="enableFilters" style="padding: 5px;" class="col-md-3 col-lg-3  col-sm-6">
              <mat-form-field class="filter_datepicker">
                <mat-label>{{'End Date' | translate}}</mat-label>
                <input matInput [matDatepicker]="decDatepicker2" [min]="oneMonthAgo" [max]="today" placeholder="{{'To' | translate}}" [(ngModel)]="todayModel" name="createdateto"  />
                <mat-datepicker-toggle matSuffix [for]="decDatepicker2"></mat-datepicker-toggle>
                <mat-datepicker #decDatepicker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="enableFilters"style="padding: 5px;" class="col-md-3 col-lg-3">
              <button type="button" mat-flat-button color="primary" (click)="FilterInittable()" >{{'Apply' | translate}}</button>
            </div>
  
            <span style="padding: 10px;"></span>
                  <button type="button" pButton  pRipple  icon="pi pi-file-excel"  (click)="exportExcel()"  class="mr-2 grid-header-right-icon"  pTooltip="{{'Excel' | translate}}"
                  tooltipPosition="bottom"
                ></button>
                 <button  type="button"
                  pButton  pRipple  icon="pi pi-filter"   (click)="clickChips()"  class="mr-2 grid-header-right-icon"
                  [ngClass]="{ clicked: enableFilters }"  [pTooltip]="'Filter' | translate"  tooltipPosition="bottom"
                ></button>
                </ng-template>
            </p-toolbar>
            </ng-template>
  
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox (click)="loadsidepanel($event)">
                    </p-tableHeaderCheckbox>
                  </th> -->
                  <!-- <th style="width: 3rem"></th> -->
                  <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [style.width]="col.width">
                    {{ col.header | translate }}
                    <p-sortIcon
                    [field]="col.field"
                    ></p-sortIcon>
                    <p-columnFilter
                      *ngIf="enableFilters"
                      type="text"
                      [field]="col.field"
                      display="menu"
                    ></p-columnFilter>
                  </th>
                  <th pFrozenColumn alignFrozen="right" >{{'Action' | translate}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" >
                <tr [pSelectableRow]="data" [pSelectableRowIndex]="rowIndex">
               
                  <td>
                    <span class="image-text">{{ data.declarationumber }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{ data.edasattestno }}</span>
                  </td>
                  <td>
                    <p-tag [value]="data.feespaid" [severity]="getSeverity(data.feespaid)"></p-tag>
                  </td>
                  <td style="text-align: right;">
                    <span class="image-text">{{ common.formatAmount(data.totalamount) }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      common.splitdatetime(common.formatDateString(data.declarationdate))?.date
                    }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      common.splitdatetime(data.attestreqdate)?.date
                    }}</span>
                  </td>
                  
                  <td pFrozenColumn alignFrozen="right"  >
                    <span (click)="openNew(data)" style="padding:15px; cursor: pointer;" pTooltip="{{'Details' | translate}}"  class="image-text viewaction">
                      <mat-icon class="action_eye_icon" >visibility</mat-icon>
                        </span>
  
                    <span *ngIf="data.feespaid === 'Paid'" (click)="uploadDeclaration(data)" style="padding:15px; cursor: pointer;" pTooltip="{{'Upload attachment' | translate}}"  class="image-text viewaction">
                      <mat-icon class="action_eye_icon" >upload</mat-icon>
                        </span> &nbsp;
  </td>
  
  
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">{{ "noDataFound" | translate }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div
            class="mofa-tab-section show mofa-tab-outer-mask"
            [ngClass]="{ show: shouldShow, hide: !shouldShow }" >
  
          <div class="ng_show_close_icon">
            <br>
            <span (click)="closesidetab()">
              <mat-icon  class="rounded-icon" style="color: white;" pTooltip="{{'close' | translate}}">chevron_right</mat-icon>
  
            </span>
            <br>
  
          </div>
            <!-- <app-attestation-workflow [selectedAttestations]="selectedAttestations"></app-attestation-workflow> -->
            <mat-tab-group>
              <mat-tab label="Timeline" *ngIf="Timelinevisible">
                <div class="grid grid-cols-1">
                  <div  class="dw-container mt-5">
                    <div *ngFor="let item of timelineItems; let i = index" class="timeline-block timeline-block-right {{ item.status }}">
                      <div class="marker"></div>
                      <div class="timeline-content">
                        <div class="float-left ml-3">
                          <div class="grid grid-cols-1">
                            <div class="w-100">
                              <mat-chip-list>
                                <h6 class="al-title">
                                  <span>{{item.title}}</span><mat-icon>check</mat-icon>
                                </h6>
                              </mat-chip-list>
                            </div>
                            <small
                              ><strong>{{ item.date }}</strong></small
                            >
                            <small>{{ item?.time }}</small>
                          </div>
                        </div>
                      </div>
                    </div>
           
            
                  
                  </div>
                </div>
              </mat-tab>
              <!-- <mat-tab label="INVOICE">
                <div class="flex grid grid-cols-2 gap-6 p-5 payment-header-label">
                  <div class="p-1"><mat-label class="payment-header-label">{{'No. of COO selected' | translate}}</mat-label></div>
                  <div class="amount_right_align">{{ noOfInvoicesSelected }}</div>
                
                
                  <div class="gap-4 flex items-center justify-center col-span-2">
                    <button [disabled]="payment_button_isdisabled"
                      mat-flat-button
                      color="primary"
                      (click)="AttestationPay()"
                      class="pay-btn"
                    >
                    {{payorpayall | translate}}
                    </button>
                  </div>
                  <div class="flex items-center justify-center col-span-2">
                    <a class="powered_by" >{{'Powered by' | translate}}</a> &nbsp;<a class="magnati">{{'magnati' | translate}}</a>
                  </div>
                </div>
              </mat-tab> -->
              <mat-tab *ngIf="previewvisible" label="{{'Preview' | translate}}">
                <div  class="grid grid-cols-1">
                  <span *ngIf="fileisthere">
                  <!-- <p *ngIf="isLoading">Loading...</p> -->
                  <!-- <div id="pdfContainer"></div> -->
                  <div id="outerContainer">
                    <div class="pdf-container">
                      <pdf-viewer
                        [src]="src1"
                        [rotation]="0"
                        [original-size]="false"
                        [show-all]="true"
                        [fit-to-page]="false"
                        [zoom]="1"
                        [zoom-scale]="'page-width'"
                        [stick-to-page]="false"
                        [render-text]="true"
                        [external-link-target]="'blank'"
                        [autoresize]="true"
                        [show-borders]="false"
                        style="width: 100%; height: 600px"
                      ></pdf-viewer>
                    </div>
                  </div>
                </span>
                <span style="margin: 6rem;
                font-size: inherit;" *ngIf="!fileisthere">
                  {{'No File Uploaded Yet' | translate}}
                </span>
  
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    
  
    
  
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  
  
    <p-dialog [(visible)]="AddInvoiceDialog" [draggable]="false" style="top:20%" [style]="{ width: '750px' }" header="COO Attestation Details" [modal]="true" styleClass="p-fluid">
      <p-tabView>
        <p-tabPanel header="Details">
      <div class="viewmore">
        <div class="more-content-section">
          <div class="grid grid-cols-2">
            <ng-container >
             
              <div class="more-content" *ngFor="let field of fields">
                <mat-label class="title-label">{{ field.label | translate }}</mat-label>
                <div class="more-content-body">
                  <mat-label class="more-content-block">{{ field.value }}</mat-label>
                </div>
              </div>
<!-- attachment -->
              <div class="more-content">
                <mat-label class="title-label">{{ 'Attestation File' | translate }}</mat-label>
                <div *ngIf="attchemntisthere" class="more-content-body">
                  <mat-label class="more-content-block" >{{ 'Attestation.pdf' }} <span (click)="common.getimagebase64(currentrow.attachment)">  <mat-icon class="action_eye_icon_popup" >download</mat-icon> </span> </mat-label>
                </div>
                <div class="more-content-body" *ngIf="!attchemntisthere">
                  <mat-label class="more-content-block" >{{ 'No File uploaded yet' }} </mat-label>
                </div>
              </div>
              
            </ng-container>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Receipt">
      <!-- {{this.src}} -->
      <div class="grid grid-cols-1">
        <div id="outerContainer">
          <div class="pdf-container">
            <pdf-viewer
              [src]="src"
              [rotation]="0"
              [original-size]="false"
              [show-all]="true"
              [fit-to-page]="false"
              [zoom]="1"
              [zoom-scale]="'page-width'"
              [stick-to-page]="false"
              [render-text]="true"
              [external-link-target]="'blank'"
              [autoresize]="true"
              [show-borders]="false"
              style="width: 100%; height: 600px"
            ></pdf-viewer>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="AddInvoiceDialog = false" label="{{'Cancel' | translate}}" styleClass="p-confirm-dialog-reject"></p-button>
    </ng-template>
  
  </p-dialog>
  
  
  
  
    
    
  