<!-- <app-loader></app-loader> -->
<div>
    <div class="grid grid-cols-1" color="primary" class="page-header">
      <h3>
        {{ "Eseal" | translate }}
      </h3>
    </div>
    <div class="company-bg registration-page">
      <div class="container mx-auto px-32 registration-window">
        <div class="grid grid-cols-1">
          <input
            accept=".pdf"
            name="uploadInvoiceFile"
            #attachments
            type="file"
            (change)="onFileChanged($event)"
            #fileInput
          />
          <button type="button" mat-button (click)="clickESeal()">E-Seal</button>
        </div>
      </div>
    </div>
  </div>
  
