

    
    <mat-divider></mat-divider>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
 

    <div class="body-bg registration-page">
    
      <div class=" container registration-window ">
        <div class="grid grid-cols-1">
    
          <div style="color: red;" class="container mx-auto px-20 registration-window">
            <div class="grid grid-cols-1">
    
              <h3 class="mt-0 mb-0 page-title-01 text-white"> Draft Pending Attestations</h3>
            </div>
            <br>
    
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
              <div class="bg-white rounded-lg p-5 col-span-2"
                [ngClass]="{'col-span-2': shouldShow, 'col-span-3': !shouldShow }">
    
    <!--  (onLazyLoad)="loadCustomers($event)" -->
              
        <p-table [(selection)]="selectedAttestations"  [resizableColumns]="true" dataKey="edasattestno"  [scrollable]="true"   selectionMode="multiple"
        #tableref [rowHover]="true" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [totalRecords]="totalrecords"
        [value]="customers"
        [rows]="10" [columns]="cols"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        styleClass="p-datatable-customers p-datatable-gridlines"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'edasattestno',
          'invoicenumber',
          'declarationumber',
          'declarationdate', 'attestreqdate'
        ]">
      
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-4">
              <div class="p-d-flex">
                <!-- <span class="p-input-icon-left p-ml-auto"> -->
                  <!-- <i class="pi pi-search"></i> -->
                  <input pInputText type="text" (input)="tableref.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />`
                  
                <!-- </span> -->
                
              </div>
            </div>
            <div class="col"></div>
            <div class="col" style="text-align: right;">
              <span >
                <button type="button" style="background-color: rgb(32, 23, 205);" pButton pRipple icon="pi pi-file" (click)="tableref.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
           
              </span>
            </div>
          
          </div>
          
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox (click)="loadsidepanel($event)" >                    
                  </p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" >
                  {{col.header}} <p-sortIcon field="code"></p-sortIcon>
                  <p-columnFilter
                  type="text"
                  [field]="col.field"
                  display="menu"
                ></p-columnFilter>
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
              <td>
                  <p-tableCheckbox  (click)="loadsidepanel($event)" [value]="customer"></p-tableCheckbox>
              </td>
              <td>
                <span >{{customer.edasattestno}} </span>
                  
              </td>
              <td>
                  <span class="image-text">{{customer.invoicenumber}}</span>
              </td>
              <!-- <td>
                  <span class="image-text">{{splitdatetime(customer.declarationumber).date}}</span>
              </td> -->
              <td>
                <span class="image-text">{{ splitdatetime(customer.declarationumber)?.date }}</span>
            </td>
            
              <td>
                  <span class="image-text">{{splitdatetime(customer.declarationdate)?.date}}</span>
              </td>
              <td>
                  <span class="image-text">{{splitdatetime(customer.attestreqdate)?.date}}</span>
              </td>
              <td>
                  <span class="image-text">{{'15'}}</span>
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
              </div>
              <div class="bg-white rounded-lg p-5 mofa-tab-section show"
                [ngClass]="{'show': shouldShow, 'hide': !shouldShow }">
                <mat-tab-group>
                  <mat-tab label="Timeline" *ngIf="Timelinevisible">
                    <div class="grid grid-cols-1">
                      <div class="dw-container mt-5">
    
                        <div class="timeline-block timeline-block-right {{status0}}">
                          <div class="marker"></div>
                          <div class="timeline-content">
    
                            <div class="float-left ml-3">
                              <div class="grid grid-cols-1">
                                <div class="w-100">
                                  <mat-chip-list>
                                    <h6 class="al-title"><span>CREATED</span><mat-icon>check</mat-icon></h6>
                                  </mat-chip-list>
                                </div>
                                <small><strong>{{createddate}}</strong></small>
                                <small>{{createdTime}}</small>
                              </div>
                            </div>
    
    
    
                          </div>
                        </div>
    
                        <div class="timeline-block timeline-block-right {{status1}}">
                          <div class="marker"></div>
                          <div class="timeline-content">
    
                            <div class="float-left ml-3">
                              <div class="grid grid-cols-1">
                                <div class="w-100">
                                  <mat-chip-list>
                                    <h6 class="al-title"><span>APPROVED</span><mat-icon>check</mat-icon></h6>
                                  </mat-chip-list>
                                </div>
                                <small><strong>{{approveddate}}</strong></small>
                                <small>{{approvedTime}}</small>
                              </div>
                            </div>
    
    
    
                          </div>
                        </div>
    
                        <div class="timeline-block timeline-block-right {{status2}}">
                          <div class="marker"></div>
                          <div class="timeline-content">
    
                            <div class="float-left ml-3">
                              <div class="grid grid-cols-1">
                                <div class="w-100">
                                  <mat-chip-list>
                                    <h6 class="al-title"><span>PAYMENT</span>
                                      <!-- <mat-icon>check</mat-icon> -->
                                    </h6>
                                    

                                  </mat-chip-list>
                                </div>
                                <small><strong>{{paymentdate}}</strong></small>
                                <small>{{paymentTime}}</small>
                              </div>
                            </div>
    
    
    
                          </div>
                        </div>
    
                        <div class="timeline-block timeline-block-right {{status3}}">
                          <div class="marker"></div>
                          <div class="timeline-content">
    
                            <div class="float-left ml-3">
                              <div class="grid grid-cols-1">
                                <div class="w-100">
                                  <mat-chip-list>
                                    <h6 class="al-title"><span>ATTESTATION</span>
                                      <!-- <mat-icon>check</mat-icon> -->
                                    </h6>
                                  </mat-chip-list>
                                </div>
                                <small><strong>{{attestationdate}}</strong></small>
                                <small>{{attestationTime}}</small>
                              </div>
                            </div>
    
    
    
                          </div>
                        </div>
    
                        <div class="timeline-block timeline-block-right {{status4}}">
                          <div class="marker"></div>
                          <div class="timeline-content">
    
                            <div class="float-left ml-3">
                              <div class="grid grid-cols-1">
                                <div class="w-100">
                                  <mat-chip-list>
                                    <h6 class="al-title"><span>COMPLETED</span>
                                      <!-- <mat-icon>check</mat-icon> -->
                                    </h6>
                                  </mat-chip-list>
                                </div>
                                <small><strong>{{completedDate}}</strong></small>
                                <small>{{completedTime}}</small>
                              </div>
                            </div>
                          </div>
                        </div>
    
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Payment">
                    <div class="grid grid-cols-1">
                      <br>
                      <br>
                      <div class="Frame-18799">
                        <div class="row">
                          <div class="col-8">
                            <mat-label>No. of Invoices selected</mat-label>
                          </div>
                          <div class="col-4">
                            {{noOfInvoicesSelected}}
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-8">
                            <mat-label>Total Fines(0)</mat-label>
                          </div>
                          <div class="col-4">
                            {{totalFineAmount}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <mat-label>Attestation Fees</mat-label>
                          </div>
                          <div class="col-4">
                            {{totalAttestationFee}}
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-6">
                          </div>
                          <div  class="col-6">
                            <mat-label style="font-size: 18px;">Total Amount</mat-label>
                          <br>
                          <br>
                            <mat-label style="font-size: 25px;">AED {{totalFee}}</mat-label> 
                            <br>
                            <!-- <mat-label style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </mat-label>  -->
                            
                            <span style="font-size: 10px;">incl.VAT</span>
                          </div>
                        </div>
                        <div class="row">
                            <button mat-flat-button color="primary" (click)="AttestationPay()" >pay</button>
                        </div>
                        <div style="text-align: center; font-size: 10px;">
                        <span>Powered by</span>&nbsp;<span style="color: rgb(4, 60, 76);">Magnati</span>

                        </div>
                      </div>
                    </div>
    
                  </mat-tab>
                  <mat-tab *ngIf="previewvisible" label="Preview">
                    <div class="grid grid-cols-1">
                      <p *ngIf="isLoading">Loading...</p>
                      <div id="outerContainer">
                        <div class="pdf-container">
                          <pdf-viewer
                            [src]="src"
                            [rotation]="0"
                            [original-size]="false"
                            [show-all]="true"
                            [fit-to-page]="false"
                            [zoom]="1"
                            [zoom-scale]="'page-width'"
                            [stick-to-page]="false"
                            [render-text]="true"
                            [external-link-target]="'blank'"
                            [autoresize]="true"
                            [show-borders]="false"
                            style="width: 100%; height: 600px;"
                          ></pdf-viewer>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>