<div class="grid grid-cols-1" color="primary"  class="page-header">
             
  <label style="font-size: 14px; color: white; font-weight: bold;">{{'COO Attestation(s)' | translate}} - {{'Completed' | translate}}</label>
</div>

<div style="padding: 2px;" >
 <div class="grid grid-cols-1">

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 tablepadding">
        <div  class="col-span-3" >

          <p-table
            [(selection)]="selectedAttestations"
            dataKey="attestationrequno"
            [scrollable]="true"
            selectionMode="single"
            #tableref
            [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [totalRecords]="totalrecords"
            [value]="cooAttestationLists"
            [rows]="5"
            [columns]="cols"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10]"
            [loading]="loading"
            styleClass="p-datatable-customers p-datatable-gridlines"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'declarationumber',
              'edasattestno',
              'totalamount',
              'declarationdate',
              'attestreqdate',
            ]"
          >
          <ng-template pTemplate="caption">
            <p-toolbar  >
              <ng-template pTemplate="left">
           
                  <div style="padding: 5px;" class="col-md-3 col-lg-3 col-sm-6">
                          <mat-form-field class="searchboxinput"  >
                            <mat-label><mat-icon style="font-size:larger;">{{'SearchKeyword' | translate}}</mat-icon> {{'SearchKeyword' | translate}}</mat-label>
                            <input  matInput type="text" (input)="tableref.filterGlobal($any($event.target).value, 'contains')" placeholder="{{'SearchKeyword' | translate}}">
                          </mat-form-field>
                  </div>
              
               
              </ng-template>
      
              <ng-template pTemplate="right">

                <div *ngIf="enableFilters" style="padding: 5px;" class="col-md-3 col-lg-3  col-md-6">
                  <mat-form-field class="filter_datepicker">
                    <mat-label>{{'Start Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="decDatepicker1" [max]="todayModel" [(ngModel)]="oneMonthAgo" placeholder="{{'From' | translate}}" name="createdatefrom"  />
                    <mat-datepicker-toggle matSuffix [for]="decDatepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #decDatepicker1></mat-datepicker>
                  </mat-form-field>
          </div>
          <div *ngIf="enableFilters" style="padding: 5px;" class="col-md-3 col-lg-3  col-sm-6">
            <mat-form-field class="filter_datepicker">
              <mat-label>{{'End Date' | translate}}</mat-label>
              <input matInput [matDatepicker]="decDatepicker2" [min]="oneMonthAgo" [max]="today" placeholder="{{'To' | translate}}" [(ngModel)]="todayModel" name="createdateto"  />
              <mat-datepicker-toggle matSuffix [for]="decDatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #decDatepicker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div *ngIf="enableFilters" style="padding: 5px;" class="col-md-3 col-lg-3">
            <button type="button" mat-flat-button color="primary" (click)="InitTable()" >{{'Apply' | translate}}</button>
          </div>

          <span style="padding: 10px;"></span>
                <button type="button" pButton  pRipple  icon="pi pi-file-excel"  (click)="exportExcel()"  class="mr-2 grid-header-right-icon"  pTooltip="{{'Excel' | translate}}"
                tooltipPosition="bottom"
              ></button>
               <button  type="button"
                pButton  pRipple  icon="pi pi-filter"   (click)="clickChips()"  class="mr-2 grid-header-right-icon"
                [ngClass]="{ clicked: enableFilters }"  [pTooltip]="'Filter' | translate"  tooltipPosition="bottom"
              ></button>
              </ng-template>
          </p-toolbar>
          </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
             
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                  {{ col.header | translate }}
                  <p-sortIcon
                  [field]="col.field"
                    *ngIf="col.field !== 'actions'"
                  ></p-sortIcon>
                  <p-columnFilter
                    *ngIf="col.field !== 'actions' && enableFilters"
                    type="text"
                    [field]="col.field"
                    display="menu"
                  ></p-columnFilter>
                </th>
                <th pFrozenColumn alignFrozen="right">{{'actions' | translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr [pSelectableRow]="data">
                <!-- <td>
                      <p-tableCheckbox [value]="data"></p-tableCheckbox>
                    </td> -->
                <td>
                  <span class="image-text">{{ data.declarationumber }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.edasattestno }}</span>
                </td>
                <td>
                  <!-- <span class="image-text">{{ data.statusname }}</span> -->
                  <p-tag [value]="data.statusname" [severity]="'success'"></p-tag>
                </td>
                <!-- <td>
                  <span class="image-text">{{ data.entityshareamount }}</span>
                </td> -->
                <td style="text-align: right;">
                  <span class="image-text">{{ data.totalamount }}</span>
                </td>
                <td>
                  <span class="image-text">{{
                    common.splitdatetime(data.declarationdate)?.date
                  }}</span>
                </td>
                <td>
                  <span class="image-text">{{
                    common.splitdatetime(data.attestreqdate)?.date
                  }}</span>
                </td>
                
                <td pFrozenColumn alignFrozen="right">
                  <span (click)="openNew(data)" style="padding:15px; cursor: pointer;" pTooltip="{{'Details' | translate}}"  class="image-text viewaction">
                    <mat-icon class="action_eye_icon" >visibility</mat-icon>
                      </span>

                      <span (click)="this.common.getimagebase64(data.attachment)" style="padding:15px; cursor: pointer;" tooltipPosition="bottom" pTooltip="{{'Download' | translate}}"   class="image-text viewaction">
                        <mat-icon class="action_eye_icon" >download</mat-icon> </span>

               
</td>
                
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10">{{ "noDataFound" | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
  </div>
             
       
      </div>
    </div>
  </div> 

  
  <p-dialog [(visible)]="AddInvoiceDialog" [draggable]="false" style="top:20%" [style]="{ width: '750px' }" header="COO Attestation Details" [modal]="true" styleClass="p-fluid">
    <p-tabView>
      <p-tabPanel header="{{'Details' | translate}}">
    <div class="viewmore">
      <div class="more-content-section">
        <div class="grid grid-cols-2">
          <ng-container >
           
            <div class="more-content" *ngFor="let field of fields">
              <mat-label class="title-label">{{ field.label | translate }}</mat-label>
              <div class="more-content-body">
                <mat-label class="more-content-block">{{ field.value }}</mat-label>
              </div>
            </div>

            <div class="more-content">
              <mat-label class="title-label">{{ 'Attestation File' | translate }}</mat-label>
              <!-- <div class="more-content-body">
                <mat-label class="more-content-block" >{{ 'Attestation.pdf' }} <span (click)="common.getimagebase64(currentrow.attachment)">  <mat-icon class="action_eye_icon_popup" >download</mat-icon> </span> </mat-label>
              </div> -->
              <div *ngIf="attchemntisthere" class="more-content-body">
                <mat-label class="more-content-block" >{{ 'Attestation.pdf' }} <span (click)="common.getimagebase64(currentrow.attachment)">  <mat-icon class="action_eye_icon_popup" >download</mat-icon> </span> </mat-label>
              </div>
              <div class="more-content-body" *ngIf="!attchemntisthere">
                <mat-label class="more-content-block" >{{ 'File is not available' }} </mat-label>
              </div>
            </div>
            
          </ng-container>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Receipt">
    <!-- {{this.src}} -->
    <div class="grid grid-cols-1">
      <div id="outerContainer">
        <div class="pdf-container">
          <pdf-viewer
            [src]="src"
            [rotation]="0"
            [original-size]="false"
            [show-all]="true"
            [fit-to-page]="false"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="false"
            [render-text]="true"
            [external-link-target]="'blank'"
            [autoresize]="true"
            [show-borders]="false"
            style="width: 100%; height: 600px"
          ></pdf-viewer>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="AddInvoiceDialog = false" label="{{'Cancel' | translate}}" styleClass="p-confirm-dialog-reject"></p-button>
  </ng-template>

</p-dialog>
  
