
<!-- Example loading element in your HTML -->
<div id="loading"  style="display: none;" ></div>
<div class="grid grid-cols-1 title" color="primary" class="page-header">
  <h3 (click)="mainpage()">{{'Registration' | translate }}</h3>
</div>
<div class="body-bg registration-page">
<form [formGroup]="registrationForm">

  <div class="registration-progress">
  <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
</div>
<!-- here -->
<div class="container registration-window">
  <div class="w-50 m-auto">
    <mat-card>
      <div class="p-4">
        <h1 class="pageTitle"> {{'Registration' | translate }}</h1>
        <p class="greytitle">{{'Please complete the following form section with accurate and up-to-date company details to ensure a smooth and efficient processing of your request.' | translate }}
        </p>
      
        <div class=" mt-3 grid grid-cols-1 rtl-form">

          <div class="grid grid-cols-1">
            <mat-form-field appearance="outline">
              <mat-label>{{'licenseIssuingauthorityemiratelabel' | translate }}</mat-label>
              <mat-select name="issuingAuthority"  formControlName="issuingAuthority" (selectionChange)="onDropdownChange($event)">
                <mat-option value="AUH">{{'Abu Dhabi' | translate}}</mat-option>
                <mat-option value="AJM">{{'Ajman'| translate}}</mat-option>
                <mat-option value="DXB">{{'Dubai' | translate}}</mat-option>
                <mat-option value="FUJ">{{'Fujairah' | translate}}</mat-option>
                <mat-option value="SHJ">{{'Sharjah'| translate}}</mat-option>
                <mat-option value="RAK">{{'Ras Al Khaimah' | translate}}</mat-option>
                <mat-option value="UAQ">{{'Umm Al Quwain' | translate}}</mat-option>
    
              </mat-select>
              <mat-error class="error" *ngIf="registrationForm.get('issuingAuthority')?.hasError('required')">{{'Please select an option'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1">

            <mat-form-field appearance="outline">
              <mat-label>{{'nameofthebusinessaspertradelicense' | translate }}</mat-label>
              <input appTrimInput  class="amount-input" autocomplete="off" (input)="onInput($event)"   (paste)="onPaste($event)" formControlName="name_of_Business" name="name_of_Business" maxlength="100"  matInput placeholder="{{'Example Technologies L.L.C' | translate}}">
          <mat-hint>{{'Your Consignee Name will be verified with our existing registrations.' | translate}}</mat-hint>
              <mat-error *ngIf="registrationForm.get('name_of_Business')?.hasError('required')">{{'Name of the Business is required' | translate }} </mat-error>
              <mat-error *ngIf="registrationForm.get('name_of_Business')?.hasError('pattern')">{{'Name of the Business is required' | translate }} </mat-error>
              
            </mat-form-field>
    
          </div>
          <div class="grid grid-cols-1">
           
        <mat-form-field [ngClass]="{'error-border': registrationForm.get('tradeLicenseNumber')?.hasError('required')}" appearance="outline">
          <mat-label>{{'tradelicensenumberlabel' | translate }}</mat-label>
          <input appTrimInput  matInput maxlength="20" minlength="4" placeholder="Enter Trade License Number" name="tradeLicenseNumber" formControlName="tradeLicenseNumber">
          <mat-hint>{{'Your Trade License number will be verified with our existing registrations.' | translate}}</mat-hint>
          <mat-error class="error" *ngIf="!registrationForm.get('tradeLicenseNumber')?.hasError('required') && registrationForm.get('tradeLicenseNumber')?.hasError('minlength')">
            {{'Trade license Number length cannot be less than 4 digits'|translate}}</mat-error>
          <mat-error class="error" *ngIf="!registrationForm.get('tradeLicenseNumber')?.hasError('minlength') && registrationForm.get('tradeLicenseNumber')?.hasError('pattern')">{{'Trade license number is required.'|translate}}</mat-error>
          
          <mat-error class="error" *ngIf="registrationForm.get('tradeLicenseNumber')?.hasError('required')">{{'Trade license number is required'|translate}}</mat-error>
        </mat-form-field>

      
      </div>
      <div class="grid grid-cols-1">
        <mat-form-field class="example-form-field">
          <mat-label>{{'chooseadatelabel' | translate }}</mat-label>
          <input appTrimInput  matInput [max]="today" [matDatepicker]="datepicker" [readonly]="true" name="chosenDate" formControlName="chosenDate">
          <mat-hint>{{'DD-MMM-YYYY' | translate}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>{{'cancelbtn' | translate }}</button>
            <button mat-raised-button color="primary" matDatepickerApply>{{'applybtn' | translate }}</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error class="error" *ngIf="registrationForm.get('chosenDate')?.hasError('required')">{{'Please choose a date'|translate}}</mat-error>
        </mat-form-field>
      
      </div>
     
      <div class="grid grid-cols-1">

        <h3 class="font-bold">{{'choosetypeofissuingauthoritylabel' | translate }}</h3>
      </div>
   
    <div class="grid grid-cols-1 mt-4">
      <mat-radio-group formControlName="expressType" >
        <div class="grid grid-cols-1">
          <mat-radio-button color="primary" (change)="radio($event)" class="example-radio-button mb-5" *ngFor="let te of typeExpress" [value]="te">
            {{ te.trim() | translate  }}
          </mat-radio-button>
        <mat-error class="error" *ngIf="registrationForm.get('expressType')?.hasError('required') && this.issuing_auth">{{'Please select the type of Issuing Authority'| translate }}</mat-error>
        </div>
      </mat-radio-group>
    </div>

<!-- {{registrationForm.get('expressType')?.hasError('required')}} -->

      <ng-container *ngIf="registrationForm.get('expressType')?.value === 'Department of Economic Development (DED)'">
      </ng-container>
      <ng-container *ngIf="registrationForm.get('expressType')?.value === 'Freezone'">
        <div class="mt-2 grid grid-cols-1">
        <mat-form-field appearance="outline" >
          <mat-label>{{'dmcclabel' | translate }}</mat-label>
          <!-- <mat-select name="dmccOption" formControlName="dmccOption" >
            <mat-option *ngFor="let option of freezone1" [value]="option.itemcode">
              {{ option.itemname | translate }}
            </mat-option>
          </mat-select> -->

          <input appTrimInput  type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="dmccOption" name="dmccOption"  (input)="onInputChange($event, 'categoryuno')"
        [matAutocomplete]="auto">
		
		  <mat-autocomplete #auto="matAutocomplete"  >
            <mat-option *ngFor="let option of freezone1" [value]="option.itemcode">
              {{ option.itemname | translate }}
            </mat-option>
          </mat-autocomplete>


          <mat-error class="error" *ngIf="registrationForm.get('dmccOption')?.hasError('required')">{{'Please select an option'|translate}}</mat-error>
        </mat-form-field>
      </div>
      </ng-container>
      <div class="text-right">
        <!-- <button pButton pRipple label="{{'Cancel' | translate}}" icon="pi pi-times" class="p-confirm-dialog-reject" (click)="CancelForLoggedinUsers()"></button> -->
   
       
        <button mat-flat-button color="primary"  (click)="proceed()" >{{'proceedbtn' | translate }}</button>
        &nbsp;
        <button *ngIf="UserHavingCompany"  mat-flat-button color="secondary" class="p-confirm-dialog-reject secondary_button"  (click)="CancelForLoggedinUsers()" >{{'Cancel' | translate }}</button>

      </div>

      </div>
      </div>
    </mat-card>
  </div>
  </div>
  
</form>
</div>





