<form [formGroup]="registrationForm" class="container physicalAttestDetails-window">
  <div class="attest-header">
    <h1 class="mt-0 mb-0 page-title-02">
      {{ "titlePhysicalAttest" | translate }}
    </h1>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
  <p >
    {{ "paraPhysicalAttest" | translate }}
  </p>
  <p >
    {{ "para1PhysicalAttest" | translate }}
  </p>
<br>
  <div class="mt-3 grid grid-cols-2 gap-4 rtl-form">
    <div class="grid grid-cols-1 mr-1">
      <mat-form-field [ngClass]="{'error-border': registrationForm.get('invoiceId')?.hasError('required')}" appearance="outline">
        <mat-label>{{ "invoiceId" | translate }}</mat-label>
        <input appTrimInput  matInput maxlength="50" [placeholder]="translate.instant('invoiceId')" name="invoiceId" formControlName="invoiceId" />
        <mat-error class="error" *ngIf="registrationForm.get('invoiceId')?.hasError('required')">
          {{ "invoiceIdrequired" | translate }}
        </mat-error>
        <mat-error class="error" *ngIf="registrationForm.get('invoiceId')?.hasError('pattern')">
          {{ "invoiceIdrequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-1">
      <mat-form-field class="example-form-field">
        <mat-label>{{ "invoiceDate" | translate }}</mat-label>
        <input appTrimInput  matInput [max]="today" [matDatepicker]="datepicker" [readonly]="true" name="invoiceDate" formControlName="invoiceDate" />
        <mat-hint>{{'MM/DD/YYYY' | translate}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>{{ "cancelbtn" | translate }}</button>
            <button mat-raised-button color="primary" matDatepickerApply>{{ "applybtn" | translate }}</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error class="error" *ngIf="registrationForm.get('invoiceDate')?.hasError('required')">
          {{ "invoiceDaterequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- started -->
    <div class="grid grid-cols-1 mr-1">
      <mat-form-field [ngClass]="{'error-border': registrationForm.get('invoiceDate')?.hasError('required')}" appearance="outline">
        <mat-label>{{ "invoiceCurrency" | translate }}</mat-label>

        <input appTrimInput  type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="invoiceCurrency" name="invoiceCurrency" (input)="onInputChange($event, 'categoryuno')"
        [matAutocomplete]="auto">
        
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let currency of currencylist" [value]="currency.itemcode">
            {{currency.itemcode}}
          </mat-option>
        </mat-autocomplete>

        <!-- <mat-select name="invoiceCurrency" formControlName="invoiceCurrency">
          <mat-option *ngFor="let currency of currencylist" [value]="currency.itemcode">
            {{ currency.itemcode }}
          </mat-option>
        </mat-select> -->


        <mat-error class="error" *ngIf="registrationForm.get('invoiceCurrency')?.hasError('required')">
          {{ "invoiceCurrencyrequired" | translate }}
        </mat-error>
        <mat-error class="error" *ngIf="registrationForm.get('invoiceCurrency')?.hasError('pattern')">
          {{ "invoiceCurrencyrequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <!--  -->
  
    <div class="grid grid-cols-1 mr-1">
      <mat-form-field [ngClass]="{'error-border': registrationForm.get('invoiceAmount')?.hasError('required')}" appearance="outline">
        <mat-label>{{ "invoiceAmount" | translate }}</mat-label>
        <input appTrimInput  maxlength="18"
          type="text"
          matInput
          [placeholder]="translate.instant('invoiceAmount')"
          name="invoiceAmount"
          formControlName="invoiceAmount"
          (input)="onAmountInput($event)"
        />
        <mat-error class="error" *ngIf="registrationForm.get('invoiceAmount')?.hasError('required')">
          {{ "invoiceAmountrequired" | translate }}
        </mat-error>
        <mat-error class="error" *ngIf="registrationForm.get('invoiceAmount')?.hasError('pattern')">
          {{ "Invalid Input" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    
  </div>

  <!-- <div class="grid grid-cols-1">
    <mat-form-field appearance="outline">
      <mat-label>{{ "issuingAuthority" | translate }}</mat-label>
      <mat-select name="issuingAuthority" formControlName="issuingAuthority">
        <mat-option *ngFor="let authority of issuingAuthorities" [value]="authority.typeuno">
          {{ authority.typename }}
        </mat-option>
      </mat-select>
      <mat-error class="error" *ngIf="registrationForm.get('issuingAuthority')?.hasError('required')">
        {{ "issuingAuthorityrequired" | translate }}
      </mat-error>
    </mat-form-field>
  </div> -->

  <div class="grid grid-cols-1">
    
    <div class="cd-upload">

      <!-- <div *ngIf="isLoading; else fileUpload">
        <mat-spinner diameter="50"></mat-spinner>
      </div> -->

      <!-- <ng-template #fileUpload> -->
      <mat-form-field appearance="outline" floatLabel="always" class="cd-upload-field">
        <mat-label>{{ "uploadInvoice" | translate }}</mat-label>
        <a  mat-button color="primary" (click)="fileInput.click()" class="float-right">
          <span *ngIf="!isLoading">
          {{ (registrationForm.get('uploadInvoiceFile')?.value === '' || registrationForm.get('uploadInvoiceFile')?.value === null) ? ('Upload' | translate) : ('Re-upload' | translate ) }}
        </span>
        <span  *ngIf="isLoading">
          <mat-spinner diameter="35"></mat-spinner>
        </span>
      </a>
       
        <input appTrimInput  type="text" formControlName="uploadInvoiceFile" name="uploadInvoiceFile" readonly matInput />
       
        <input  accept=".pdf" style="display: none" formControlName="uploadInvoiceFile" name="uploadInvoiceFile" #attachments type="file" (change)="onFileChanged($event)" #fileInput /> 
        <div *ngFor="let selected of listOfFiles; let index = index" class="cd-file-list">
          <span class="doc_selected">{{ selected.name }}</span> &nbsp; &nbsp; &nbsp;<mat-icon>check_circle_outline</mat-icon>
          <small (click)="removeSelectedFile(index)">{{'Remove' | translate }}</small>
        </div>
        <mat-error *ngIf="registrationForm.get('uploadInvoiceFile')?.hasError('required')">
          {{ "alertuploadInvoice" | translate }}
        </mat-error>
      </mat-form-field>
     
    </div>
  </div>

  <div class="flex justify-center" mat-dialog-actions>
    <div class="grid grid-cols-1 w-30">
      <button mat-flat-button color="primary" class="green-filled-btn w-100 btn-w-30" (click)="proceed()">
        {{ "SubmitRequest" | translate }}
      </button>
    </div>
  </div>
</form>
