<mat-divider></mat-divider>
<div class="company-bg">

    <div class="container mx-auto px-32 ">

<div>
    <div class="grid grid-cols-2 gap-8">
        <table>
          <tr>
              <td style="width:200px" class="grid grid-cols-1 pt-10 profile-page-avatar">
                      <i class="fa fa-industry company-dp-icon"></i>
              </td>
              <td class="p-5">
                  <div class="grid grid-cols-1 gap-4 mt-5">
                      <div class="grid grid-cols-1">
                          <div class="a-bold-brown company_name">{{list1.nameofbusiness.toUpperCase()}}</div>
                          <div class="a-bold-brown" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                              <span >{{common.decryptWithPrivateKey(prefemailaddresstodisplay) }}</span> &nbsp;
                              <div *ngIf="isadmin" style="cursor: pointer; display: inline-block;" pTooltip="{{'Edit' | translate}}" (click)="updateprefemailopenpopup()">
                                  <i class="fa fa-edit align-middle "></i>
                              </div>
                          </div>
                          <div class="a-bold-brown"> {{common.decryptWithPrivateKey(list1.companycontactno)}}</div>
                      </div>
                  </div>
              </td>
          </tr>
      </table>
      
        <div>
            <div class="csp-ti-box csp-ti-box-white profile-info-section mt-5">
        
                <div class="grid grid-cols-1 csp-list-02">
                  <table>
                    <tr>
                        <td><div class="a-bold-grey">{{'Company Name' | translate}}</div></td>
                        <td><div class="a-bold-brown">{{list1.nameofbusiness}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="a-bold-grey">{{'Email ID' | translate}}</div></td>
                        <td><div class="a-bold-brown">{{common.decryptWithPrivateKey(list1.companyemailaddress)}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="a-bold-grey">{{'Trade Licence No' | translate}}</div></td>
                        <td><div class="a-bold-brown">{{common.decryptWithPrivateKey(list1.tradelicenseno)}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="a-bold-grey">{{'tradelicenseissuedate' | translate}}</div></td>
                        <td><div class="a-bold-brown">{{common.splitdatetime(list1.licenseissuedate)?.date}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="a-bold-grey">{{'tradelicenseexpirydate' | translate}}</div></td>
                        <td><div class="a-bold-brown">{{common.splitdatetime(list1.licenseexpirydate)?.date}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="a-bold-grey">{{'status' | translate}}</div></td>
                        <td>
                            <div *ngIf="!list1.islicenseexpired" class="greeninfo"  >
                              <!-- <span  > -->
                                &nbsp;
                                <span  >{{'Active' | translate}}</span> 
                                <div class="float-left ml-3"> <i class="fa fa-info-circle fa-2x align-middle "></i></div>
                              <!-- </span> -->
                                <div *ngIf="isadmin" style="cursor: pointer;" pTooltip="{{'View' | translate}}" (click)="openNew()" class="float-left ml-3"> <i class="fa fa-eye align-middle "></i></div>

                            </div>
                
                            <div *ngIf="list1.islicenseexpired" class="text-red-info">
                                <span class="float-left text-red-info">{{'Expired' | translate}}</span>
                                <div class="float-left ml-3 text-red-info"> <i class="fa fa-info-circle fa-2x align-middle "></i></div>
                                
                                <div *ngIf="isadmin" style="cursor: pointer;" pTooltip="{{'View' | translate}}" (click)="openNew()" class="float-left ml-3"> <i class="fa fa-eye align-middle "></i></div>
                            </div>
                        </td>
                    </tr>
                </table>
                
                </div>


            </div>
        </div>
     
        <div></div>
    </div>
    <div class="grid grid-cols-1">
        <div class="profile-right-box bg-white rounded-lg mb-5 p-3">
            <div class="si-mattab-spacing position-relative">

                <mat-tab-group class="labelclassv" mat-align-tabs="start" dynamicHeight [disableRipple]="true">
                    <mat-tab  label="{{'General Settings' | translate}}">
                        <div style="padding: 5px;" class="grid grid-cols-1 gap-4">
                            <div class="csp-ti-box csp-ti-box-white profile-info-section">
        
                                <div class="grid grid-cols-1 csp-list-02">
                                  <table>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'Company Name' | translate}}</div>
                                        </td>
                                        <td class="col-span-2">
                                            <div class="a-bold-brown">{{list1.nameofbusiness}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'Email ID' | translate}}</div>
                                        </td>
                                        <td class="col-span-2">
                                            <div class="a-bold-brown">{{common.decryptWithPrivateKey(list1.companyemailaddress)}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'Trade Licence No' | translate}}</div>
                                        </td>
                                        <td class="col-span-2">
                                            <div class="a-bold-brown">{{common.decryptWithPrivateKey(list1.tradelicenseno)}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'tradelicenseissuedate'  | translate}}</div>
                                        </td>
                                        <td class="col-span-2">
                                            <div class="a-bold-brown">{{common.splitdatetime(list1.licenseissuedate)?.date}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'tradelicenseexpirydate'  | translate}}</div>
                                        </td>
                                        <td class="col-span-2">
                                            <div class="a-bold-brown">{{common.splitdatetime(list1.licenseexpirydate)?.date}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="a-bold-grey">{{'status'  | translate}}</div>
                                        </td>
                                        <td class="col-span-2" [ngClass]="{'text-green-info': !list1.islicenseexpired, 'text-red-info': list1.islicenseexpired}">
                                            <span class="float-left">{{ list1.islicenseexpired ? 'Expired' : 'Active' }}</span>
                                        </td>
                                    </tr>
                                </table>
                                
                                </div>
                            </div>
                        </div>
        
        
                    </mat-tab>
                    <mat-tab class="blacklabel" label="{{'Company Users' | translate}}">
                        <div style="padding-bottom: 10px;" class="grid grid-cols-1 gap-4">
                            <div class="csp-ti-box csp-ti-box-white profile-info-section">
        
                                <p-table   [resizableColumns]="true" dataKey="edasattestno"  [scrollable]="true"   selectionMode="multiple"
                                #tableref [rowHover]="true" [paginator]="true" currentPageReportTemplate="{{'Showing' | translate}} {first} {{'to' | translate}} {last} {{'of' | translate}} {totalRecords} {{'entries' | translate}}" [filterDelay]="0"
                                [totalRecords]="totalrecords"
                                [value]="list"
                                [rows]="5" [columns]="cols"
                                [showCurrentPageReport]="true"
                                [rowsPerPageOptions]="[5, 10]"
                                [loading]="loading"
                                styleClass="p-datatable-customers p-datatable-gridlines"
                                currentPageReportTemplate="{{'Showing' | translate}} {first} {{'to' | translate}} {last} {{'of' | translate}} {totalRecords} {{'entries' | translate}}"
                                [globalFilterFields]="[
                                 'eid','fullnameen','usertype','emailid', 'mobilenumber', 'enteredby', 'enteredon'
                                ]">
                              
                                <ng-template pTemplate="caption">
                        
                                  <p-toolbar  >
                                    <ng-template pTemplate="left">
                                      <div style="padding: 5px;" class="col-md-3 col-lg-3 col-sm-6">
                                              <mat-form-field class="searchboxinput" >
                                                <!-- <mat-label><mat-icon style="font-size:larger;">search</mat-icon> {{'SearchKeyword' | translate}}</mat-label> -->
                                                <input appTrimInput   matInput type="text" (input)="tableref.filterGlobal($any($event.target).value, 'contains')" placeholder="{{'SearchKeyword' | translate}}">
                                              </mat-form-field>
                                      </div>
                                   
                        </ng-template>
                                </p-toolbar>
                                </ng-template>
                                
                                <ng-template pTemplate="header" let-columns>
                                  <tr>
                                      <!-- <th>
                                      </th> -->
                                      <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" >
                                          {{col.header | translate}} 
                                          <p-sortIcon  [field]="col.field"  ></p-sortIcon>
                                        
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-list>
                                  <tr>
                                      <!-- <td>
                                          <p-tableCheckbox   [value]="list"></p-tableCheckbox>
                                      </td> -->
                                      <td>   
                                        <!-- EmiratesID -->
                                        <span >{{list.eid?.trim() | eidFormatter}} </span>
                                          
                                      </td>
                                      <td>
                                        <!-- Name -->
                                          <span class="image-text">{{list.fullnameen}}</span>
                                      </td>
                                      <td>
                                        <!-- Role -->
                                        <span class="image-text">{{ list.usertype}}</span>
                                    </td>
                                    
                                      <!-- <td>
                                          <span class="image-text">{{common.formatDateString(list.declarationdate)}}</span>  'usertype','emailid', 'mobilenumber', 'enteredby', 'enteredon'
                                      </td> -->
                                      <td>
                                        <!-- Email ID -->
                                          <span class="image-text">{{list.emailid}}</span>
                                      </td>
                                      <td>
                                        <!-- Mobile Number -->
                                          <span class="image-text">{{common.formatmobilenumber(list.mobilenumber)}}</span>
                                      </td>
                                      <td>
                                        <!-- Entered by -->
                                          <span class="image-text">{{list.enteredby}}</span>
                                      </td>
                                      <td>
                                        <!-- Entered on -->
                                          <span class="image-text">{{common.splitdatetime(list.enteredon)?.date}}</span>
                                      </td>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                  <tr>
                                    <td style="text-align: center  !important;" colspan="9">{{'No data found.' | translate}}</td>
                                  </tr>
                                </ng-template>
                              </p-table>
        
                            </div>
                        </div>
        
        
                    </mat-tab>
                   
                    
                    
                    
                </mat-tab-group>

            </div>
        </div>
    </div>



</div>

</div>
</div>




<!-- modal details popup -->


<p-dialog
  [(visible)]="AddInvoiceDialogprefemail"
  style="top: 20%; height: 80%; width: 58% !important;"
  [draggable]="false"
  [dismissableMask]="false"
  [style]="{ width: '450px' }"
  header="{{ 'Update Details' | translate }}"
  [modal]="true"
  styleClass="p-fluid"
>
<br>
 <div>
    <form  [formGroup]="prefform">
       
       
        <div class="grid grid-cols-2 gap-4">
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>{{'Preferred Email Address' | translate }}</mat-label>
                  <input appTrimInput   autocomplete="off" formControlName="prefemailaddress" name="prefemailaddress" matInput placeholder="example@etech.com">
                <mat-error *ngIf="prefform.get('prefemailaddress')?.hasError('required')">{{'Preferred Email address is required' | translate }} </mat-error>
                <mat-error *ngIf="prefform.get('prefemailaddress')?.hasError('pattern')">{{'Preferred Email address is required' | translate }} </mat-error>
       
                </mat-form-field>
          </div>
          <div>
   
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'Company Type' | translate }}</mat-label>
                  <mat-select name="prefcomtype" formControlName="prefcomtype">
                    <mat-option *ngFor="let option of companytypeoptions" [value]="option.itemno">
                      {{ option.itemcode }}
                    </mat-option>
                  </mat-select>
                  <mat-error class="error" *ngIf="prefform.get('prefcomtype')?.hasError('required')">{{'Company Type is required' | translate }}</mat-error>
                </mat-form-field>
          </div>
        </div>
    </form>
 </div>

  <ng-template pTemplate="footer">

    <button  
    mat-flat-button 
    color="primary"
    (click)="updateprefemail()"
    class="pay-btn"
  >
    {{ 'Update' | translate }}
  </button>

    <p-button
      icon="pi pi-times"
      (click)="AddInvoiceDialogprefemail = false"
      label="{{ 'Cancel' | translate }}"
      styleClass="p-confirm-dialog-reject"
    ></p-button>
  </ng-template>
</p-dialog>



<p-dialog
    [(visible)]="AddInvoiceDialog"
    [draggable]="false"
    style="top: 20%"
    [style]="{ width: '750px' }"
    header="{{ 'Company Details' | translate }}"
    [modal]="true"
    styleClass="p-fluid"
  >
    <div class="viewmore">
      <div class="more-content-section">
        <div class="grid grid-cols-2">
          <ng-container>
            <div class="more-content" *ngFor="let field of fields">
              <mat-label class="title-label">{{
                field.label | translate
              }}</mat-label>
              <div class="more-content-body">
                <mat-label class="more-content-block">{{
                  field.value
                }}</mat-label>
              </div>
            </div>

          </ng-container>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-times"
        (click)="AddInvoiceDialog = false"
        label="{{ 'Cancel' | translate }}"
        styleClass="p-confirm-dialog-reject"
      ></p-button>
    </ng-template>
  </p-dialog>


<!-- modal 2 end -->