<mat-divider></mat-divider>
<div class="company-bg registration-page">
  <div class="container mx-auto px-32 registration-window">
    <!-- <div class="grid grid-cols-4 gap-6 px-5 py-3">
    </div> -->
    <div class="grid grid-cols-4 gap-6 px-5 py-3">
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>{{ "Total Requests" | translate }}</p>
        <h1 class="font-bold dashboard-scores">{{ totalTile.noofrequests }}</h1>
      </div>
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>{{ "LCA Attestations" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.nooflcarequestapproved }}
        </h1>
      </div>
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>{{ "COO Attestations" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofcoorequestapproved }}
        </h1>
      </div>
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>{{ "Physical Attestations" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofphysicalrequestapproved }}
        </h1>
      </div>
    </div>
    <!-- pending tile dashboard  -->
    <div class="grid grid-cols-4 gap-6 px-5 py-3">
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>{{ "Total Pendings" | translate }}</p>
        <h1 class="font-bold dashboard-scores">{{ totalTile.noofpendings }}</h1>
      </div>
      <div
        class="grid grid-cols-1 dashboard-card p-5 cursror"
        [routerLink]="'/lca/attestation'"
      >
        <p>{{ "LCA Pendings" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.nooflcapendings }}
        </h1>
      </div>
      <div
        class="grid grid-cols-1 dashboard-card p-5 cursror"
        [routerLink]="'/coo/cooattestation'"
      >
        <p>{{ "COO Pendings" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofcoopendings }}
        </h1>
      </div>
      <div
        class="grid grid-cols-1 dashboard-card p-5 cursror"
        [routerLink]="'/physical/physicalattestation'"
      >
        <p>{{ "Physical Pendings" | translate }}</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofphysicalpendings }}
        </h1>
      </div>
    </div>
    <!-- attestation request -->
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div class="labelandddl">
            <h1 class="font-bold float-left mr-3">
              {{ "LCA Attestation Requests" | translate }}
            </h1>
            <div style="width: 100px; padding-right: 10px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>{{ "Select" | translate }}</mat-label>
                <mat-select
                  (selectionChange)="onClickFilterOption('lca', $event.value)"
                  value="01"
                >
                  <mat-option value="01">{{ "Day" | translate }}</mat-option>
                  <mat-option value="02">{{ "Week" | translate }}</mat-option>
                  <mat-option value="03">{{ "Month" | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >{{ "Pending" | translate }}
                </mat-list-item>
                <!-- <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{'Approved' | translate}}
                </mat-list-item> -->
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{ "Completed" | translate }}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <!-- <div class="button-groups">
          <button (click)="isLoading = !isLoading" nz-button nztype="default">Toggle Loading</button>
        </div>  -->
        <!-- {{isLoading}} -->

        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [loading]="isLoading"
              [options]="lcaChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div class="labelandddl">
            <h1 class="font-bold float-left mr-3">
              {{ "COO Attestation Requests" | translate }}
            </h1>
            <div style="width: 100px; padding-right: 10px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select
                  (selectionChange)="onClickFilterOption('coo', $event.value)"
                  value="01"
                >
                  <mat-option value="01">{{ "Day" | translate }}</mat-option>
                  <mat-option value="02">{{ "Week" | translate }}</mat-option>
                  <mat-option value="03">{{ "Month" | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >{{ "Pending" | translate }}
                </mat-list-item>
                <!-- <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{'Approved' | translate}}
                </mat-list-item> -->
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{ "Completed" | translate }}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              [loading]="isLoading"
              echarts
              [options]="cooChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div class="labelandddl">
            <h1 class="font-bold float-left mr-3">
              {{ "Physical Attestation Requests" | translate }}
            </h1>
            <div style="width: 100px; padding-right: 10px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>{{ "Select" | translate }}</mat-label>
                <mat-select
                  (selectionChange)="
                    onClickFilterOption('physical', $event.value)
                  "
                  value="01"
                >
                  <mat-option value="01">{{ "Day" | translate }}</mat-option>
                  <mat-option value="02">{{ "Week" | translate }}</mat-option>
                  <mat-option value="03">{{ "Month" | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >{{ "Pending" | translate }}
                </mat-list-item>
                <!-- <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{'Approved' | translate}}
                </mat-list-item> -->
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{ "Completed" | translate }}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [loading]="isLoading"
              [options]="physicalChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
