
<mat-divider></mat-divider>
<div class="company-bg registration-page">
  <div class="container mx-auto px-32 registration-window">
    <div class="grid grid-cols-4 gap-6 px-5 py-3">
    </div>
    <div class="grid grid-cols-4 gap-6 px-5 py-3">
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>Total Requests</p>
        <h1 class="font-bold dashboard-scores">{{ totalTile.noofrequests }}</h1>
      </div>
     
      
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>LCA Attestations</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.nooflcarequestapproved }}
        </h1>
      </div>
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>COO Attestations</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofcoorequestapproved }}
        </h1>
      </div>
      <div class="grid grid-cols-1 dashboard-card p-5">
        <p>Physical Attestations</p>
        <h1 class="font-bold dashboard-scores">
          {{ totalTile.noofphysicalrequestapproved }}
        </h1>
      </div>
    </div>
    <!-- attestation request -->
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div>
            <h1 class="font-bold float-left mr-3">LCA Attestation Requests</h1>
            <div style="width: 100px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select
                  (selectionChange)="onClickFilterOption('lca', $event.value)" value="01"
                >
                  <mat-option value="01">Day</mat-option>
                  <mat-option value="02">Week</mat-option>
                  <mat-option value="03">Month</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >Pending Requests
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >Approved requests
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-grey"
                    >circle</mat-icon
                  >Completed Requests
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [options]="lcaChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div>
            <h1 class="font-bold float-left mr-3">COO Attestation Requests</h1>
            <div style="width: 100px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select
                  (selectionChange)="onClickFilterOption('coo', $event.value)" value="01"
                >
                  <mat-option value="01">Day</mat-option>
                  <mat-option value="02">Week</mat-option>
                  <mat-option value="03">Month</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >Pending Requests 
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >Approved requests
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-grey"
                    >circle</mat-icon
                  >Completed Requests
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [options]="cooChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div>
            <h1 class="font-bold float-left mr-3">
              Physical Attestation Requests
            </h1>
            <div style="width: 100px" class="float-left">
              <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select
                  (selectionChange)="
                    onClickFilterOption('physical', $event.value) " value="01">
                  <mat-option value="01">Day</mat-option>
                  <mat-option value="02">Week</mat-option>
                  <mat-option value="03">Month</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >Pending Requests
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >Approved requests
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-grey"
                    >circle</mat-icon
                  >Completed Requests
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [options]="physicalChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
