<!-- <mat-divider></mat-divider> -->

<div class="company-bg registration-page">
 
  <div class="container mx-auto px-32 registration-window">

    <div class="grid grid-cols-4 gap-6 px-5 py-3">
        <div class="grid grid-cols-1 bg-brown-r p-5">
            <p>{{'Entities' | translate}}</p>
            <h1 class="font-bold dashboard-scores">5</h1>
     
        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Companies' | translate}}</p>
            <h1 class="font-bold dashboard-scores">100</h1>

        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Company Approvals' | translate}}</p>
            <h1 class="font-bold dashboard-scores">8</h1>

        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Completed Attestations' | translate}}</p>
            <h1 class="font-bold dashboard-scores">3600</h1>
        </div>
    </div>
    
    <div class="grid grid-cols-1 px-5 py-3">
        <div class="grid grid-cols-1 bg-white-r p-5">
            <div class="grid grid-cols-3">
                <div>
                  <h1 class="font-bold float-left mr-3">LCA {{'Attestation Requests' | translate}}</h1>
                  <div style="width:100px" class="float-left">
                    <mat-form-field appearance="outline" >
                        <mat-label>{{'Select' | translate}}</mat-label>
                      <mat-select
                  (selectionChange)="onAttestationRequestDropdownChange($event.value, 'LCA')">
                        <mat-option value="01">{{'Day' | translate}}</mat-option>
                        <mat-option value="02">{{'Week' | translate}}</mat-option>
                        <mat-option value="03">{{'Month' | translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                </div>
                <div class="col-span-2">
                  <div class="flex justify-end">
                    <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                      <mat-list-item role="listitem">
                        <mat-icon class="mr-1 kd-dot kdl-chart-color-brown">circle</mat-icon>{{'Pending Requests' | translate}}
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <mat-icon class="mr-1 kd-dot kdl-chart-color-black">circle</mat-icon>{{'Completed Requests' | translate}}
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
               
              </div>
              <div class="grid grid-cols-1">
                <div class="ps-01">
                  <div echarts [options]="lcaChartOptionattestation" class="demo-chart pb-3" style="height:300px; width:100%"></div>
                </div>
                </div>
        </div>
    </div>

    <!-- COO -->

    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
          <div class="grid grid-cols-3">
              <div>
                <h1 class="font-bold float-left mr-3">COO {{'Attestation Requests' | translate}}</h1>
                <div style="width:100px" class="float-left">
                  <mat-form-field appearance="outline" >
                      <mat-label>{{'Select' | translate}}</mat-label>
                    <mat-select
                (selectionChange)="onAttestationRequestDropdownChange($event.value, 'COO')">
                      <mat-option value="01">{{'Day' | translate}}</mat-option>
                      <mat-option value="02">{{'Week' | translate}}</mat-option>
                      <mat-option value="03">{{'Month' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              </div>
              <div class="col-span-2">
                <div class="flex justify-end">
                  <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                    <mat-list-item role="listitem">
                      <mat-icon class="mr-1 kd-dot kdl-chart-color-brown">circle</mat-icon>{{'Pending Requests' | translate}}
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <mat-icon class="mr-1 kd-dot kdl-chart-color-black">circle</mat-icon>{{'Completed Requests' | translate}}
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
             
            </div>
            <div class="grid grid-cols-1">
              <div class="ps-01">
                <div echarts [options]="cooChartOptionattestation" class="demo-chart pb-3" style="height:300px; width:100%"></div>
              </div>
              </div>
      </div>
  </div>

  <!-- Physical -->
  <div class="grid grid-cols-1 px-5 py-3">
    <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
            <div>
              <h1 class="font-bold float-left mr-3">Physical {{'Attestation Requests' | translate}}</h1>
              <div style="width:100px" class="float-left">
                <mat-form-field appearance="outline" >
                    <mat-label>{{'Select' | translate}}</mat-label>
                  <mat-select
              (selectionChange)="onAttestationRequestDropdownChange($event.value, 'Physical')">
                    <mat-option value="01">{{'Day' | translate}}</mat-option>
                    <mat-option value="02">{{'Week' | translate}}</mat-option>
                    <mat-option value="03">{{'Month' | translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            </div>
            <div class="col-span-2">
              <div class="flex justify-end">
                <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                  <mat-list-item role="listitem">
                    <mat-icon class="mr-1 kd-dot kdl-chart-color-brown">circle</mat-icon>{{'Pending Requests' | translate}}
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <mat-icon class="mr-1 kd-dot kdl-chart-color-black">circle</mat-icon>{{'Completed Requests' | translate}}
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
           
          </div>
          <div class="grid grid-cols-1">
            <div class="ps-01">
              <div echarts [options]="physicalChartOptionattestation" class="demo-chart pb-3" style="height:300px; width:100%"></div>
            </div>
            </div>
    </div>
</div>



    
    <div class="grid grid-cols-4 gap-6 px-5 py-3">
        <div class="grid grid-cols-1 bg-brown-r p-5">
            <p>{{'Average Resolution Rate' | translate}}</p>
            <h1 class="font-bold dashboard-scores">83.4%</h1>
     
        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Cost per Ticket (AED)' | translate}}</p>
            <h1 class="font-bold dashboard-scores">150.00</h1>

        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Agent Satisfaction Rate' | translate}}</p>
            <h1 class="font-bold dashboard-scores">97%</h1>

        </div>
        <div class="grid grid-cols-1 bg-brown-r p-5">

            <p>{{'Agent Utilization Rate' | translate}}</p>
            <h1 class="font-bold dashboard-scores">98.92%</h1>

        </div>
     
    </div>

    <div class="grid grid-cols-2 gap-6 px-5 py-3">
        <div class="grid grid-cols-1 bg-white-r p-5">
            <div class="grid grid-cols-1">
                <div>
                  <h1 class="font-bold float-left mr-3">{{'Attestation By Status' | translate}}</h1>
                  <div style="width:100px" class="float-left">
                    <mat-form-field appearance="outline" >
                        <mat-label>{{'Select' | translate}}</mat-label>
                      <mat-select>
                        <mat-option value="01">{{'Week' | translate}}</mat-option>
                        <mat-option value="02">{{'Month' | translate}}</mat-option>
                        <mat-option value="03">{{'Year' | translate}}</mat-option>
                      </mat-select>
                      
                    </mat-form-field>
                </div>
                 
                </div>
               
               
               
              </div>
              <div class="grid grid-cols-2">
                <div>
                    <div class="ps-01">
                        <div echarts [options]="chartOptionattestationbystatus" class="demo-chart pb-3" style="height:250px; width:100%"></div>
                      </div>
                </div>
                <div>
                    <div class="flex justify-end ">
                        <div class="h-72 grid content-center">
                            <div>
                        <mat-list role="list" class="kd-guage-legends rkpi-guage-legends kd-guage-legends-h-auto ">
            
                          <mat-list-item role="listitem">
                            <mat-icon class="mr-1 kd-dot kdl-chart-color-lightbrown">circle</mat-icon>{{'Closed Attestations' | translate}} 
                            <span class="ml-4">38.6%</span>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-icon class="mr-1 kd-dot kdl-chart-color-brown">circle</mat-icon>{{'Rejected Attestations' | translate}} 
                            <span class="ml-4">22.5%</span>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-icon class="mr-1 kd-dot kdl-chart-color-black">circle</mat-icon>{{'Pending Attestations' | translate}} 
                            <span class="ml-4">30.</span>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-icon class="mr-1 kd-dot kdl-chart-color-grey">circle</mat-icon>{{'Manual Attestations' | translate}}
                            <span class="ml-4">8.1%</span> 
                          </mat-list-item>
                          
            
                        </mat-list>
                    </div>
                      </div>
                    </div>
                </div>
               
                </div>

        </div>

        <!-- <div class="grid grid-cols-1 bg-white-r p-5">
            <div class="grid grid-cols-1">
                <div>
                  <h1 class="font-bold float-left mr-3">Top Agents</h1>
                 
                 
                </div>
               
                
               
              </div>
              <div class="grid grid-cols-1">
                <div class="ps-01">
                  <div echarts [options]="chartOptiontopagents" class="demo-chart pb-3" style="height:250px; width:100%"></div>
                </div>
                </div>

        </div> -->
    </div>
  </div>

</div>


