<!-- <app-loader></app-loader> -->
<div id="loading" style="display: none;"></div>
<div>
<div class="grid grid-cols-1" color="primary" class="page-header">

  <h3 (click)="mainpage()">{{'Registration' | translate }} </h3>
</div>
<div class="company-bg registration-page">
  <div class="registration-progress">
    <mat-progress-bar mode="determinate" [value]="progress_val"></mat-progress-bar>
  </div>
  <!-- form start -->
  
  <div class="container mx-auto px-32 registration-window">
    <div class="grid grid-cols-1">
      <form *ngIf="form1_Vis" [formGroup]="companyDetailsForm">
      <div class="grid grid-cols-1">
        <div class="back pr-2  cursor-pointer" routerLink="/registration">
          <mat-icon>arrow_back</mat-icon><span>{{'backbtn' | translate }}</span>
        </div>
        <h1 class="mt-0 mb-0 page-title-01"> {{'Company Details' | translate }}</h1>
        <p class="mt-0 page-title-para">{{'Ensuring data accuracy and security is our top priority. Kindly verify your details first and then the company contact number through OTP to complete the submission with confidence.' | translate }}
        </p>
      </div>
      <div class="grid grid-cols-1">

        <mat-form-field appearance="outline">
          <mat-label>{{'nameofthebusinessaspertradelicense' | translate }}</mat-label>
          <input appTrimInput  class="amount-input" autocomplete="off" readonly formControlName="name_of_Business" name="name_of_Business" maxlength="100"  matInput placeholder="{{'Example Technologies L.L.C' | translate}}">
          <mat-error *ngIf="companyDetailsForm.get('name_of_Business')?.hasError('required')">{{'Name of the Business is required' | translate }} </mat-error>
          <mat-error *ngIf="companyDetailsForm.get('name_of_Business')?.hasError('pattern')">{{'Name of the Business is required' | translate }} </mat-error>
          
        </mat-form-field>

      </div>
      <div class="grid grid-cols-1">

        <mat-form-field appearance="outline">
          <mat-label>{{'tradelicensenumber' | translate }}</mat-label>
          <input appTrimInput readonly [disabled]="true"  autocomplete="off" formControlName="trade_Licence" name="trade_Licence" matInput placeholder="123456">
        <mat-error *ngIf="companyDetailsForm.get('trade_Licence')?.hasError('required')">{{'Trade License number is required' | translate }} </mat-error>
        <mat-error *ngIf="companyDetailsForm.get('trade_Licence')?.hasError('pattern')">{{'Trade License number is required' | translate }} </mat-error>

        </mat-form-field>


      </div>

      <div class="grid grid-cols-2 gap-4">

        <div>
          <mat-form-field class="example-form-field">
            <mat-label>{{'tradelicenseissuedate' | translate }}</mat-label>
            <input appTrimInput matInput readonly  [max]="today"  autocomplete="off" [disabled]="true" formControlName="trade_Licence_Issue_Date" name="trade_Licence_Issue_Date" [matDatepicker]="tlissuedate" placeholder="19/02/1972">

            <mat-datepicker-toggle matSuffix [for]="tlissuedate"></mat-datepicker-toggle>
            <mat-datepicker #tlissuedate>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>{{'cancelbtn' | translate }}</button>
                <button mat-raised-button color="primary" matDatepickerApply>{{'applybtn' | translate
                  }}</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <mat-error *ngIf="companyDetailsForm.get('trade_Licence_Issue_Date')?.hasError('required')">{{'Trade License issue Date is required' | translate }}</mat-error>

          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-form-field">
            <mat-label>{{'tradelicenseexpirydate' | translate }}</mat-label>
            <input appTrimInput matInput  autocomplete="off" [min]="today" formControlName="trade_Licence_Expiry_Date" name="trade_Licence_Expiry_Date" [matDatepicker]="tlexpirydate" placeholder="19/10/2025">
            <mat-datepicker-toggle matSuffix [for]="tlexpirydate"></mat-datepicker-toggle>
            <!-- <span matSuffix >&nbsp;{{'EDIT' | translate }}</span> -->
            <mat-datepicker #tlexpirydate>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>{{'cancelbtn' | translate }}</button>
                <button mat-raised-button color="primary" matDatepickerApply>{{'applybtn' | translate
                  }}</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <mat-error *ngIf="companyDetailsForm.get('trade_Licence_Expiry_Date')?.hasError('required')">{{'Trade License Expiry Date is required' | translate }} </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-1">

        <mat-form-field appearance="outline">
          <mat-label>{{'licenseissuingauthority' | translate }}</mat-label>
          <input appTrimInput matInput readonly [disabled]="true"  autocomplete="off" formControlName="Licence_issuing_auth" name="Licence_issuing_auth" placeholder="Free zone">
          <mat-error *ngIf="companyDetailsForm.get('Licence_issuing_auth')?.hasError('required')">{{'License issuing authority is required' | translate }} </mat-error>
          <mat-error *ngIf="companyDetailsForm.get('Licence_issuing_auth')?.hasError('pattern')">{{'License issuing authority is required' | translate }} </mat-error>
        
        </mat-form-field>


      </div>

      <div class="grid grid-cols-1">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'legaltype' | translate }}</mat-label>
          <!-- <mat-select name="legal_Type" formControlName="legal_Type">
            <mat-option *ngFor="let option of legalTypeOptions" [value]="option.typeuno">
              {{ option.typename }}
            </mat-option>
          </mat-select> -->
          <!-- <input appTrimInput  type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          formControlName="legal_Type" name="legal_Type"  (input)="onInputChange($event, 'categoryuno')" (focus)="onInputChange($event, 'categoryuno')"
          [matAutocomplete]="auto">
      
   <mat-autocomplete requireSelection #auto="matAutocomplete" >
            <mat-option *ngFor="let option of legalTypeOptions" [value]="option.typename">
              {{option.typename}}
            </mat-option>
          </mat-autocomplete> -->

          <input appTrimInput type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      formControlName="legal_Type"
      name="legal_Type"
      (input)="onInputChange($event, 'categoryuno')" (blur)="validateLegalType($event)"
      [matAutocomplete]="auto">
    <mat-autocomplete requireSelection #auto="matAutocomplete">
      <mat-option *ngFor="let option of legalTypeOptions" [value]="option.typename">
        {{ option.typename }}
      </mat-option>
    </mat-autocomplete>
        
          <mat-error class="error" *ngIf="companyDetailsForm.get('legal_Type')?.hasError('required')">{{'Legal Type is required' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="grid grid-cols-2 gap-4">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'companyregisteredemailaddress' | translate }} </mat-label>
            <input appTrimInput matInput  autocomplete="off" formControlName="Comp_Reg_Email_Address" name="Comp_Reg_Email_Address" placeholder="example@etech.com">
            <span matSuffix>&nbsp;{{'EDIT' | translate }}</span>
            <mat-error *ngIf="companyDetailsForm.get('Comp_Reg_Email_Address')?.hasError('required')">{{'Company Registered Email Address is required' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('Comp_Reg_Email_Address')?.hasError('email')">{{ 'Invalid Email format' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{'companycontactnumber' | translate }}   </mat-label>
            <input appTrimInput matInput type="tel"  autocomplete="off" maxlength="9" formControlName="Comp_contact_number" name="Comp_contact_number"    placeholder="55 1234 567">
            <span matPrefix>+971&nbsp;</span>
            <span matSuffix>&nbsp;{{'EDIT' | translate }}</span>
            <mat-error *ngIf="!(companyDetailsForm.get('Comp_contact_number')?.hasError('minlength')|| companyDetailsForm.get('Comp_contact_number')?.hasError('maxlength'))&&companyDetailsForm.get('Comp_contact_number')?.hasError('pattern')">{{'Invalid Company Contact Number' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('Comp_contact_number')?.hasError('minlength')|| companyDetailsForm.get('Comp_contact_number')?.hasError('maxlength')">{{'Company Contact Number must be 9 characters long' | translate }}</mat-error>
            <mat-error *ngIf="companyDetailsForm.get('Comp_contact_number')?.hasError('required')">{{'Company Contact Number is required' | translate }} </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="grid grid-cols-2 gap-4">

        <div class="cd-upload">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{'uploadtradelicense' | translate }}</mat-label>
            <a mat-button style="top: 0.3em;" color="primary" (click)="fileInput.click()" class="float-right"><span *ngIf="!isLoading">
              {{ companyDetailsForm.get('Upload_trade_license')?.value === '' ? ('UPLOAD' | translate) : ('Re-upload' | translate ) }}
            </span>
            <span  *ngIf="isLoading">
              <mat-spinner diameter="35"></mat-spinner>
            </span>
          </a>
            <input appTrimInput type="text" formControlName="Upload_trade_license" name="Upload_trade_license" readonly matInput />
            <input accept=".pdf" style="display: none" formControlName="Upload_trade_license" name="Upload_trade_license" #attachments type="file" (change)="onFileChanged($event)" #fileInput
              />
            <div *ngFor="let selected of listOfFiles; let index = index" class="cd-file-list">
             <span class="doc_selected" >{{ selected }}</span> &nbsp; &nbsp; &nbsp;<mat-icon>check_circle_outline</mat-icon>
              <small (click)="removeSelectedFile(index)">{{'Remove' | translate }}</small>
            </div>
        <mat-error *ngIf="companyDetailsForm.get('Upload_trade_license')?.hasError('required')"> {{'Trade License is required' | translate }} </mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-2 mt-4" style="margin-top: 10px; display: block;">
         
          <mat-radio-group formControlName="isbroker" aria-label="Are you a Broker?">
            <SPAN>
          <mat-label style="font-weight: 600;">{{'AreyouaBroker' | translate }}</mat-label> &nbsp; &nbsp; &nbsp; &nbsp;</SPAN>
<span>
            <mat-radio-button  value="1">{{'Yes' | translate }}</mat-radio-button>
            <mat-radio-button value="2">{{'No' | translate }}</mat-radio-button></span>
            <mat-error class="error" *ngIf="companyDetailsForm.get('isbroker')?.hasError('required') && radiochosenornot ">{{'Please select the option'| translate }}</mat-error>

          </mat-radio-group>
        </div>



      </div>
      <div class="grid grid-cols-1">
        <mat-divider></mat-divider>
      </div>
      <div class="grid grid-cols-1 mt-5">
        
        <h1 class="mt-0 mb-0 page-title-01"> {{'Company Representative Details' | translate }}</h1>
        <p class="mt-0 page-title-para">{{'These provided details will serve as the credentials for accessing the company profile once it has been approved.' | translate }}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'fullname' | translate }}</mat-label>
            <input appTrimInput matInput  autocomplete="off" formControlName="companyrep_fullname" name="companyrep_fullname" placeholder="MOHAMMED ALI">
            <mat-error *ngIf="companyDetailsForm.get('companyrep_fullname')?.hasError('required')">{{'Full name is required' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('companyrep_fullname')?.hasError('pattern')">{{'Full name is required' | translate }} </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'Designation' | translate }}</mat-label>
            <input appTrimInput matInput  autocomplete="off" formControlName="companyrep_designation" name="companyrep_designation" placeholder="">
            <!-- <mat-error *ngIf="companyDetailsForm.get('companyrep_designation')?.hasError('required')">{{'Designation is required' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('companyrep_designation')?.hasError('pattern')">{{'Designation is required' | translate }} </mat-error>
       -->
          </mat-form-field>
        </div>
        

      </div>
      <div class="grid grid-cols-2 gap-4">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'representativeemailaddress' | translate }}</mat-label>
            <input appTrimInput matInput  autocomplete="off" formControlName="companyrep_EmailAddress" name="companyrep_EmailAddress" placeholder="Mohammed@etech.com">
            <mat-error *ngIf="companyDetailsForm.get('companyrep_EmailAddress')?.hasError('required')">{{'Representative Email address is required' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('companyrep_EmailAddress')?.hasError('email')">{{ 'Invalid Email format' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{'mobilenumber' | translate }} </mat-label>
            <input appTrimInput matInput  autocomplete="off" maxlength="9" formControlName="companyrep_MobileNumber" name="companyrep_MobileNumber" type="tel" placeholder="55 1234 567">
            <span matPrefix>+971&nbsp;</span>

            <mat-error *ngIf="!(companyDetailsForm.get('companyrep_MobileNumber')?.hasError('minlength')|| companyDetailsForm.get('companyrep_MobileNumber')?.hasError('maxlength'))&&companyDetailsForm.get('companyrep_MobileNumber')?.hasError('pattern')"> {{'Invalid Mobile Number' | translate }} </mat-error>
            <mat-error *ngIf="companyDetailsForm.get('companyrep_MobileNumber')?.hasError('minlength')|| companyDetailsForm.get('companyrep_MobileNumber')?.hasError('maxlength')">{{'Mobile Number must be 9 characters long' | translate }}</mat-error>
            <mat-error *ngIf="companyDetailsForm.get('companyrep_MobileNumber')?.hasError('required')"> {{'Mobile Number is required' | translate }} </mat-error>
            

            
          </mat-form-field>
        </div>
       

      </div>
      <div class="grid grid-cols-1">
        <div class="text-right">
          <!-- <button (click)="submit()"  *ngIf="OTP_verified"  disabled="isDisabled" mat-flat-button color="primary" >{{'submitbtn' | translate }}</button> -->
          <div *ngIf="OTP_verified"  class="verified-text"><mat-icon class="mr-2">check_circle_outline</mat-icon>{{'Verified' | translate }}</div> &nbsp;&nbsp;
          <button *ngIf="!OTP_verified" mat-button color="primary" class="mr-2" (click)="openOTPPopup(myDialogshortcut)">{{'Verify Company Contact Number' | translate }}</button>
          <button mat-flat-button color="primary"  [disabled]="!OTP_verified || isSubmitting"  (click)="submit()" >{{'submitbtn' | translate }}</button>
        </div>
      </div>
      
  </form>

  

  <!-- form end    uncomment -->
  <!-- Thanks form starts   *ngIf="!form1_Vis" -->
  <div    *ngIf="!form1_Vis"  style="text-align: justify;" >

  <span class="Thanksnote">
    {{note1}}
  </span>
<br>
<br>
<br>
  <span class="REF-231192">
    {{'RegistrationReferenceNumber' |translate}}    : # {{response_code_after_submit}} 
  </span>
<br>
<br>
  <span class="Texts">{{'Kindlymakeanoteofyour' |translate}}
   
    <span class="text-style-1">{{'referenceID' |translate}}</span>
    {{'forallfuturecomm' |translate}}
  </span>
  <br>
  <br>
  <br>
  <span class="Texts"> {{note2}}
    
  </span>
  <br>
  <br>
  <br>
  <span class="Texts">
  {{note3}}
  </span>

  <br>
  <br>
  <br>
  <span class="Texts">
  {{note4}}
  </span>
  <!-- <div class="Frame-18642">
    <span class="VISIT-MOFAGOVAE Heading">
      {{'VISIT' |translate}} MOFA.GOV.AE
    </span>
  </div> -->

  <div class="Frame-18642">
    <a href="https://www.mofa.gov.ae/en/Account/Redirect-To-EDAS-V2" target="_blank" class="VISIT-MOFAGOVAE Heading">
      {{ 'VISIT' | translate }} MOFA.GOV.AE
    </a>
  </div>
  
</div>

  <!-- Thanks form ends -->


</div>
  </div>


</div>


<ng-template #myDialogshortcut>
  <h1 mat-dialog-title>
    {{'OTP Verification' | translate }}   </h1>
  <div mat-dialog-content>
      <div class="grid grid-cols-1 mt-3">
       <p> {{'Enter the verification code sent to' | translate }}  <br>
        {{this.companyDetailsForm.get('companyrep_MobileNumber')?.value}}</p>
      </div>
      <div class="grid grid-cols-1 my-4">
        <small class="text-center otp-timer"><strong>{{ countdownMinutes }}:{{ countdownSeconds }}</strong></small>
      </div>
      <div class="grid grid-cols-1">
      <ngx-otp-input [config]="otpInputConfig" (otpChange)="otpchange($event)" #ngxotp (fill)="handleFillEvent($event)">
      </ngx-otp-input>
      <br>
      <p class="mat-error"  *ngIf="incorrectOTP">{{ 'Incorrect OTP. Please try again' | translate }}</p>
    </div>
    <!-- {{showResendLink}} -->
    <div class="grid grid-cols-1 otp-receive-msg" *ngIf="showResendLink && resendCount<maxResendCount">
    <p>{{'DidntreceivetheOTP' | translate }} <strong id="resendLink"  (click)="SendOTP()" class="cursor-pointer">{{'Resend' | translate }} </strong></p>
  </div>

  <div class="grid grid-cols-1 otp-receive-msg" *ngIf="resendCount>=maxResendCount" >
    <p>{{'Max attempts over! Please try later.' | translate }} </p>
  </div>



  </div>
  <div mat-dialog-actions>
    <div class="grid grid-cols-1 w-100">
      <button mat-flat-button color="primary"  (click)="OTPSubmit()" [disabled]="isSubmitEnabled<6" class="green-filled-btn w-100">{{'Submit' | translate }} </button>
</div>
      <div class="grid grid-cols-1 w-100 mb-2">
              <button mat-flat-button class="white-filled-btn w-100" mat-dialog-close color="primary"> {{'Cancel' | translate }}</button>
      </div>
     
  </div>
</ng-template>

<ng-container >
  
  <re-captcha
    size="invisible" [siteKey]="sitekey"
    #invisible
    (errored)="onError()"
    errorMode="handled"
    (resolved)="addTokenLog('Invisible reCAPTCHA response', $event)"
  >
  </re-captcha>

</ng-container>

</div>