::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
  }
  
  ::ng-deep .cdk-global-overlay-wrapper {
    z-index: 1000 !important;
  }
  
  h1.page-title-02 {
    font-family: "robotobold" !important;
    margin-bottom: 10px !important;
    font-size: x-large;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .btn-w-30 {
    padding: 0 1rem;
  }
  
  .cd-upload {
    width: 100%;
  }
  
  .cd-upload-field {
    width: inherit;
  }
  
  .upload-field-declaration {
    display: flex;
  }
  
  button.mat-stroked-button {
    border: #b68a35 1px solid;
  }
  
  .file-upload-action {
    display: flex;
    gap: 1rem;
  }
  
  .file-upload-action-btn {
    margin: 0 0.5rem 0.5rem 0;
  }
  
  .cd-file-list {
    margin-top: 0;
  }
  
  .attest-header{
    display: flex;
    justify-content: space-between;
  }