<!-- <app-loader></app-loader> -->
<div>
  <div class="grid grid-cols-1" color="primary" class="page-header">
    <h3>
      <ng-container *ngIf="routesname === 'approve'">{{
        "Import Invoice(s)" | translate
      }}</ng-container>
    </h3>
  </div>
  <div class="risk-bg lcadetails-page">
    <div class="mx-auto lcadetails-window">
      <!-- <div class="chart-table-view">
            <button type="button" pButton (click)="orgChartClick()">
              <ng-container *ngIf="!orgCharts">
                Chart view
              </ng-container>
              <ng-container *ngIf="orgCharts">
                Table view
              </ng-container>
            </button>
          </div> -->
      <!-- Content here -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-1" *ngIf="!orgCharts">
        <div
          class="lcadetails-window bg-white rounded-lg col-span-3"
          [ngClass]="{
            'col-span-2 hidden sm:hidden lg:block': shouldShow,
            'col-span-3': !shouldShow
          }"
        >
          <p-table
            [responsiveLayout]="responsiveLayout"
            [scrollable]="responsiveLayout === 'scroll' ? true : false"
            [(selection)]="selectedRows"
            selectionMode="single"
            [lazy]="true"
            (onLazyLoad)="loadDatas($event)"
            dataKey="riskuno"
            #tableref
            [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="{{ 'Showing' | translate }} {first} {{
              'to' | translate
            }} {last} {{ 'of' | translate }} {totalRecords} {{
              'entries' | translate
            }}"
            [filterDelay]="0"
            [totalRecords]="totalrecords"
            [value]="excelLists"
            [rows]="50"
            [columns]="cols"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            styleClass="p-datatable-customers p-datatable-gridlines"
            currentPageReportTemplate="{{ 'Showing' | translate }} {first} {{
              'to' | translate
            }} {last} {{ 'of' | translate }} {totalRecords} {{
              'entries' | translate
            }}"
            [globalFilterFields]="[
              'LCACode',
              'RequestNo',
              'RequestDate',
              'DeclarationNo',
              'DeclarationDate',
              'TradelicenceNo',
              'ConsigneeName',
              'EmailAddress',
              'ContactNo',
              'DocType',
              'ExpPortCode',
              'ExpPortName',
              'Mode',
              'AttestationNo',
              'InvoiceDate',
              'InvoiceAmount',
              'InvoiceNo',
              'InvoiceCurrency',
              'InvoiceId',
              'CompanyName',
              'Remarks',
              'Status',
              ''
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex grid-header">
                <div class="grid-header-left">
                  <div style="padding: 5px" class="col-md-3 col-lg-3 col-sm-6">
                    <mat-form-field class="searchboxinput">
                      <mat-label
                        ><mat-icon style="font-size: larger">search</mat-icon>
                        {{ "SearchKeyword" | translate }}</mat-label
                      >
                      <input
                        matInput
                        type="text"
                        (input)="
                          tableref.filterGlobal(
                            $any($event.target).value,
                            'contains'
                          )
                        "
                        placeholder="{{ 'SearchKeyword' | translate }}"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="grid-header-right">
                  <button
                    type="button"
                    [disabled]="excelLists.length === 0"
                    pButton
                    pRipple
                    (click)="postDataValid()"
                    *ngIf="issubmitvalid"
                    class="mr-2 grid-header-right-btn"
                    tooltipPosition="bottom"
                  >
                    Read valid excel record
                  </button>
                  <button
                    type="button"
                    [disabled]="excelLists.length === 0"
                    pButton
                    pRipple
                    (click)="postData()"
                    class="mr-2 grid-header-right-btn"
                    tooltipPosition="bottom"
                  >
                    Read Excel
                  </button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="mr-2 grid-header-right-icon"
                    [pTooltip]="'excelExport' | translate"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    (click)="clickChips()"
                    class="mr-2 grid-header-right-icon"
                    [ngClass]="{ clicked: enableFilters }"
                    [pTooltip]="'filter' | translate"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    (click)="openDialogAdd()"
                    class="mr-2 grid-header-right-btn"
                    [pTooltip]="'upload' | translate"
                    tooltipPosition="bottom"
                  >
                    &nbsp;Upload
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th
                  *ngFor="let col of columns"
                  [pSortableColumn]="col.field"
                  pFrozenColumn
                  [frozen]="col.field === 'action'"
                  alignFrozen="right"
                  [ngClass]="{
                    'action-width-header': col.field === 'action',
                    'lg:noaction-width-header': col.field !== 'action',
                    frozen1: col.field === 'action',
                    frozen2: col.field === 'enteredon'
                  }"
                >
                  <span class="table-head-column">
                    <span>{{ col.header | translate }}</span>
                    <p-sortIcon
                      [field]="col.field"
                      *ngIf="col.field !== 'action'"
                    ></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      [field]="col.field"
                      display="menu"
                      *ngIf="col.field !== 'action' && enableFilters"
                    ></p-columnFilter>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr
                [ngClass]="{
                  active:
                    selectedRows &&
                    selectedRows.length > 0 &&
                    selectedRows[0] === data,
                  validrow: data.Status === 'Valid',
                  notvalidrow: data.Status !== 'Valid'
                }"
              >
                <td
                  class="lg:noaction-width-header"
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'LCACode').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.LCACode" | translate
                  }}</span>
                  <span class="image-text">{{ data.LCACode }}</span>
                </td>
                <td
                  class="lg:noaction-width-header"
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'RequestNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.RequestNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.RequestNo }}</span>
                </td>
                <td
                  class="lg:noaction-width-header"
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'RequestDate').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.RequestDate" | translate
                  }}</span>
                  <span class="image-text">{{ data.RequestDate }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'DeclarationNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.DeclarationNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.DeclarationNo }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'DeclarationDate').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.DeclarationDate" | translate
                  }}</span>
                  <span class="image-text">{{ data.DeclarationDate }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'TradelicenceNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.TradelicenceNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.TradelicenceNo }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'ConsigneeName').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.ConsigneeName" | translate
                  }}</span>
                  <span class="image-text">{{ data.ConsigneeName }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'EmailAddress').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.EmailAddress" | translate
                  }}</span>
                  <span class="image-text">{{ data.EmailAddress }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'ContactNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.ContactNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.ContactNo }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'DocType').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.DocType" | translate
                  }}</span>
                  <span class="image-text">{{ data.DocType }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'ExpPortCode').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.ExpPortCode" | translate
                  }}</span>
                  <span class="image-text">{{ data.ExpPortCode }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'ExpPortName').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.ExpPortName" | translate
                  }}</span>
                  <span class="image-text">{{ data.ExpPortName }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'Mode').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.Mode" | translate
                  }}</span>
                  <span class="image-text">{{ data.Mode }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'AttestationNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.AttestationNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.AttestationNo }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'InvoiceDate').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.InvoiceDate" | translate
                  }}</span>
                  <span class="image-text">{{ data.InvoiceDate }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'InvoiceAmount').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.InvoiceAmount" | translate
                  }}</span>
                  <span class="image-text">{{ data.InvoiceAmount }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'InvoiceNo').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.InvoiceNo" | translate
                  }}</span>
                  <span class="image-text">{{ data.InvoiceNo }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'InvoiceCurrency').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.InvoiceCurrency" | translate
                  }}</span>
                  <span class="image-text">{{ data.InvoiceCurrency }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'InvoiceId').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.InvoiceId" | translate
                  }}</span>
                  <span class="image-text">{{ data.InvoiceId }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'CompanyName').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.CompanyName" | translate
                  }}</span>
                  <span class="image-text">{{ data.CompanyName }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'Remarks').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.Remarks" | translate
                  }}</span>
                  <span class="image-text">{{ data.Remarks }}</span>
                </td>
                <td
                  class=""
                  [ngClass]="{
                    'error-style':
                      getErrorAvailable(data, 'Status').valid === false
                  }"
                >
                  <span class="p-column-title">{{
                    "lcadetails.lcadetailList.Status" | translate
                  }}</span>
                  <span class="image-text">
                    <p-tag
                      [value]="data.Status"
                      [severity]="
                        data.Status === 'Valid' ? 'success' : 'danger'
                      "
                    ></p-tag>
                  </span>
                </td>
                <td
                  class="action-width-header frozen1"
                  pFrozenColumn
                  [frozen]="true"
                  alignFrozen="right"
                >
                  <div class="flex action-width-body">
                    <button
                      type="button"
                      (click)="DeleteRow(data)"
                      [pTooltip]="'delete' | translate"
                      tooltipPosition="bottom"
                      class="p-element grid-header-right-icon p-button p-component p-button-icon-only"
                      title="{{ 'tlpDelete' | translate }}"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="100">{{ "noDataFound" | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
