<div style="font-size: 12px !important; background-color: #ccc !important">
    <div class="grid grid-cols-1" color="primary" class="page-header">
      <label style="font-size: 13px; color: white; font-weight: bold"
        >{{ "Attestation(s)" | translate }} - {{ "Draft" | translate }}
      </label>
    </div>
  
    <div style="padding: 3px; border-radius: 2px">
      <div class="grid grid-cols-1">
        <div class="grid grid-cols-1 lg:grid-cols-3">
          <div
            [ngClass]="{ 'col-span-2': shouldShow, 'col-span-3': !shouldShow }"
            style="border-radius: 5px; padding: 5px; background-color: #fff"
          >
            <!-- {{selectedAttestations?.length || ''}} -->
  
            <p-table
              [(selection)]="selectedAttestations"
              [resizableColumns]="true"
              dataKey="edasattestno"
              [scrollable]="true"
              selectionMode="multiple"
              #tableref
              [rowHover]="true"
              [paginator]="true"
              currentPageReportTemplate="{{'Showing' | translate}} {first} {{'to' | translate}} {last} {{'of' | translate}} {totalRecords} {{'entries' | translate}}"
              [filterDelay]="0"
              [totalRecords]="totalrecords"
              [value]="list"
              [rows]="10"
              [columns]="selectedColumns"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[10, 20, 50]"
              [loading]="loading"
              styleClass="p-datatable-customers p-datatable-gridlines"
              currentPageReportTemplate="{{'Showing' | translate}} {first} {{'to' | translate}} {last} {{'of' | translate}} {totalRecords} {{'entries' | translate}}"
              [globalFilterFields]="[
                'edasattestno',
                'invoicenumber',
                'declarationumber',
                'declarationdate',
                'attestreqdate',
                'Noofdaysleft'
              ]"
              [lazy]="true"
              (onLazyLoad)="InitTable($event)"
              [rowSelectable]="isRowSelectable"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="caption">
                <p-toolbar>
                  <ng-template pTemplate="left">
                    <div style="padding: 5px" class="col-md-3 col-lg-3 col-sm-6">
                      <mat-form-field class="searchboxinput">
                        <mat-label
                          ><mat-icon style="font-size: larger">search</mat-icon
                          >{{ "SearchKeyword" | translate }}</mat-label
                        >
                        <input matInput type="text" (input)="
                            tableref.filterGlobal( $any($event.target).value,'contains')" placeholder="{{ 'SearchKeyword' | translate }}"/>
                      </mat-form-field>
                    </div>
                  
                  </ng-template>
                  <ng-template pTemplate="right">
                   
                    <span style="padding: 10px"></span>
                    <button
                      type="button"
                      pButton
                      pRipple
                      icon="pi pi-file-excel"
                      (click)="exportExcel()"
                      class="mr-2 grid-header-right-icon"
                      pTooltip="{{ 'Excel' | translate }}"
                      tooltipPosition="bottom"
                    ></button>
                    <!-- <button
                      type="button"
                      pButton
                      pRipple
                      icon="pi pi-filter"
                      (click)="clickChips()"
                      class="mr-2 grid-header-right-icon"
                      [ngClass]="{ clicked: enableFilters }"
                      [pTooltip]="'Filter' | translate"
                      tooltipPosition="bottom"
                    ></button> -->
                  </ng-template>
                </p-toolbar>
   <tr>
                  <td colspan="12">
                    <div class="alert alert-info" role="alert">
                      <span
                        class="glyphicon glyphicon-exclamation-sign"
                        aria-hidden="true"
                      ></span>
                      <i class="fas fa-lightbulb light-bulb"></i>
                      Invoice Attestation Pending Request are shown in this list.
                      You have 14 days to pay for the Invoice Attestation request
                      fees. COO payment is mandatory to pay for the Invoice
                      Attestation request. If Invoice Attestation request is not
                      paid within 14 days additional fine of AED 150 is added to
                      the Invoice Attestation request. Fine amount has to be paid
                      along with the Invoice Attestation fees amount
                    </div>
                  </td>
                </tr>
              </ng-template>
  
              <ng-template pTemplate="header" let-columns>
                <tr>
                 
                <th pSortableColumn="edasattestno" >{{'edasattestno' | translate}}  <p-sortIcon field="edasattestno"></p-sortIcon> </th>
                <th pSortableColumn="currencycode">{{'invoiceCurrency' | translate}}  <p-sortIcon field="currencycode"></p-sortIcon></th>
                <th pSortableColumn="canpay">{{'status' | translate}}  <p-sortIcon field="canpay"></p-sortIcon></th>
                <th pSortableColumn="noofdaysoverdue">{{'Age'| translate}}  <p-sortIcon field="noofdaysoverdue"></p-sortIcon></th>
                <th pSortableColumn="invoiceamount">{{'invoiceamount' | translate}}  <p-sortIcon field="invoiceamount"></p-sortIcon></th>
                <th pSortableColumn="feesamount">{{'Fees' | translate}}  <p-sortIcon field="feesamount"></p-sortIcon></th>
                <th pSortableColumn="invoiceid">{{'invoiceId' | translate}}  <p-sortIcon field="invoiceid"></p-sortIcon></th>
                <th pSortableColumn="declarationumber">{{'declarationumber' | translate}} <p-sortIcon field="declarationumber"></p-sortIcon></th>
                <th pSortableColumn="declarationdate">{{'declarationdate' | translate}}  <p-sortIcon field="declarationdate"></p-sortIcon></th>
                <th pSortableColumn="attestreqdate">{{'attestreqdate' | translate}}  <p-sortIcon field="attestreqdate"></p-sortIcon> </th>
                <th pSortableColumn="lcaname">{{'Channel' | translate}}  <p-sortIcon field="attestreqdate"></p-sortIcon> </th>
  
                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [style.width]="col.width" >
                    {{col.header | translate}} <p-sortIcon [field]="col.field"  ></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      [field]="col.field"
                      *ngIf="enableFilters"
                      display="menu"
                    ></p-columnFilter>
                  </th>
                  <th pFrozenColumn alignFrozen="right">
                    {{ "actions" | translate }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-columns="columns">
                <tr
                  [ngClass]="{
                    'highlighted-row custom-text-color bold-text':
                      customer.isSelected
                  }"
                >
                
                  <td >
                    <!-- <button pButton type="button" (click)="openNew_(customer)"> -->
                      {{ customer.edasattestno }}
                    <!-- </button> -->
                  </td>
                  <td>
                    <span class="image-text">{{ customer.currencycode }}</span>
                  </td>
  
                  <td>
                    <!-- <p-tag class="cursor"
                      
                      [severity]="getSeverity(customer.canpay)"  (click)="openNew_(customer)"
                    >
                    {{customer.canpay === 1 ? 'COO paid' : '  &nbsp; COO unpaid '}} &nbsp;
                    <i
                    class="fa fa-arrow-right"
                    *ngIf="customer.canpay != 1"
                    style="cursor: pointer"
                  ></i>
                     
                    </p-tag> -->
                    {{customer.canpay}}
                  
  
                  </td>
                  <td style="text-align: center" [ngClass]="{
                    '': customer.noofdaysoverdue < 10,
                    outofstock: customer.noofdaysoverdue > 14,
                    lowstock: customer.noofdaysoverdue > 9 && customer.noofdaysoverdue < 15
                  }">
                    <div *ngIf="customer.noofdaysoverdue > 14" pTooltip="Exceeded 14 days of grace period for the LCA Invoice Attestation payment.">
                      {{ customer.noofdaysoverdue }}
                    </div>
                    <div *ngIf="customer.noofdaysoverdue < 10">
                      {{ customer.noofdaysoverdue }}
                    </div>
                    <div *ngIf="customer.noofdaysoverdue > 9 && customer.noofdaysoverdue < 15" pTooltip="Exceeded {{customer.noofdaysoverdue}} days and nearing grace period of 14 days for the LCA Invoice Attestation payment. ">
                      {{ customer.noofdaysoverdue }}
                    </div>
                  </td>
                  
  
                  <td style="text-align: right">
                    <span class="image-text">{{
                      common.formatAmount(customer.invoiceamount)
                    }}</span>
                  </td>
                  <td style="text-align: right">
                    <span class="image-text">{{
                      common.formatAmount(customer.feesamount)
                    }}</span>
                  </td>
  
                  <td>
                    <span class="image-text">{{ customer.invoiceid }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      customer.declarationumber
                    }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      common.splitdatetime(customer.declarationdate)?.date
                    }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      common.splitdatetimeforstring(customer.attestreqdate)?.date
                    }}</span>
                  </td>
                  <td>
                    <span class="image-text">{{
                      customer.lcaname
                    }}</span>
                  </td>
  
                  <!-- lcaname -->
                  <td *ngFor="let col of columns">
                    {{ customer[col.field] }}
                  </td>
  
                  <td pFrozenColumn alignFrozen="right">
                    <!-- <span
                      style="padding: 15px; cursor: pointer"
                      pTooltip="{{ 'Details' | translate }}"
                      class="image-text viewaction"
                    >
                      <mat-icon class="action_eye_icon">visibility</mat-icon>
                    </span> -->
                  </td>
                </tr>
              </ng-template>
  
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="14">{{ "No data found." | translate }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
  
          <!-- <div
            class="mofa-tab-section show mofa-tab-outer-mask"
            [ngClass]="{ show: shouldShow, hide: !shouldShow }"
          >
            <div class="ng_show_close_icon">
              <br />
              <span (click)="closesidetab()">
                <mat-icon
                  class="rounded-icon"
                  style="color: white"
                  pTooltip="{{ 'close' | translate }}"
                  >chevron_right</mat-icon
                >
              </span>
              <br />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <br />
  
  <!-- modal -->
  
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  
  <!-- modal 1 end -->
  
  <!-- modal 2 -->
  
  <!-- modal details popup -->
 
  <!-- modal 2 end -->
  
    
  
  <!-- modal 2 end -->
  