<!-- <app-loader></app-loader> -->
<div>
  <div class="grid grid-cols-1" color="primary" class="page-header">
    <h3>
      {{ "label.cooAttestDetails.mainpage.title" | translate }}
    </h3>
  </div>
  <div class="company-bg cooAttestDetails-page">
    <div class="mx-auto cooAttestDetails-window">
      <div class="grid grid-cols-1 gap-4">
        <div class="bg-white rounded-lg p-5 col-span-2">
          <p-table
            [(selection)]="selectedAttestations"
            dataKey="attestationrequno"
            [scrollable]="true"
            selectionMode="multiple"
            #tableref
            [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [totalRecords]="totalrecords"
            [value]="cooAttestationLists"
            [rows]="10"
            [columns]="cols"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            styleClass="p-datatable-customers p-datatable-gridlines"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'declarationumber',
              'edasattestno',
              'totalamount',
              'declarationdate',
              'attestreqdate',
              'status',
              ''
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex grid-header">
                <div class="grid-header-left">
                  <span class="p-input-icon-left p-ml-auto grid-search">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        tableref.filterGlobal(
                          $any($event.target).value,
                          'contains'
                        )
                      "
                      placeholder="Search keyword"
                    />
                  </span>
                </div>
                <div class="grid-header-right">
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="mr-2 grid-header-right-icon"
                    pTooltip="Excel export"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    (click)="clickChips()"
                    class="mr-2 grid-header-right-icon"
                    [ngClass]="{ clicked: enableFilters }"
                    pTooltip="Filter"
                    tooltipPosition="bottom"
                  ></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox (click)="loadsidepanel($event)">
                  </p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header | translate }}
                  <p-sortIcon
                    field="code"
                    *ngIf="col.field !== 'actions' && enableFilters"
                  ></p-sortIcon>
                  <p-columnFilter
                    *ngIf="col.field !== 'actions' && enableFilters"
                    type="text"
                    [field]="col.field"
                    display="menu"
                  ></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>
                  <p-tableCheckbox
                    (click)="loadsidepanel($event)"
                    [value]="data"
                  ></p-tableCheckbox>
                </td>
                <td>
                  <span class="image-text">{{ data.declarationumber }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.edasattestno }}</span>
                </td>
                <!-- <td>
                  <span class="image-text">{{ data.entityshareamount }}</span>
                </td> -->
                <td>
                  <span class="image-text">{{ data.totalamount }}</span>
                </td>
                <td>
                  <span class="image-text">{{
                    splitdatetime(data.declarationdate)?.date
                  }}</span>
                </td>
                <td>
                  <span class="image-text">{{
                    splitdatetime(data.attestreqdate)?.date
                  }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.status }}</span>
                </td>
                <td>
                  <button
                    mat-button
                    [matMenuTriggerFor]="menu"
                    color="primary"
                    *ngIf="data.feespaid === 'Paid'"
                  >
                    {{ "label.cooAttestDetails.manage" | translate }}
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="uploadDeclaration(data)">
                      {{
                        "label.cooAttestDetails.uploadAttachment" | translate
                      }}
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10">{{ "noDataFound" | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
