
 
 

  .company-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between rows if needed */
    width: 300px;
  }

  .company-info {
    width: 90%; /* Expand the container to fill the available space */
    justify-content: space-between; /* Create two columns */
    align-items: center;
    padding: 8.5px 9px 27.5px 22px;
    border-radius: 8px;
    border:solid 1px rgba(19, 19, 19, 0.15);
    background-color: #fff;
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    height: 90%;
  }

  .company-info.selected {
    border: solid 2px #b68a35;
    background-color: #f8f3ea;
    box-shadow: 7px 5px 5px #b68a35;
  }

  .column {
    /* Style for each column within the company-info div */
    flex: 1; /* Each column takes equal space */
    padding: 5px; /* Adjust as needed */
  }
 .CompanyName{
    font-weight: bolder;
    padding-top: 20px;
 }

 mat-card{
  width: 70%; /* Adjust the width as per your requirement */
  margin: 0 auto; /* Center the mat-card horizontally */
 }
 /* .mat-grid-tile-content {
  height: 50% !important;
 } */
 /* mat-grid-tile{
  height: 50%;
 } */

 mat-grid-tile {
  overflow: hidden;
 }


 @media (max-width: 768px) {
  mat-card {
    width: 90%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
  }
}
@media (max-width: 992px) {
  mat-card {
    width: 100%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
  }
}
@media (max-width: 576px) {
  mat-card {
    width: 100%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
    font-size: 7px;
  }
}

/* Add this in your existing CSS file or style section in the component */
.search-container {
  margin-top: 20px;
  text-align: center;
}

/* Style the search input and button as needed */
.search-container input {
  padding: 10px;
  margin-right: 5px;
}

.search-container button {
  padding: 10px;
}


