
<div  class="body-bg registration-page">
    <div class="container registration-window">
        <div class="w-50 m-auto">
          <mat-card>
            <div class="p-4">
              <h1 class="pageTitle"> {{'label.landingPage.ChooseCompany'|translate}} </h1>
              <p class="greytitle"> {{'label.landingPage.LoginProfile'|translate}} 
              </p>
              <div class=" mt-3 grid grid-cols-1 rtl-form">
                  <mat-grid-list  cols="2"  rowHeight="2:1">
                    <mat-grid-tile  *ngFor="let list of CompanyListforAdmin">
                        <div  class="company-info Rectangle-9260" (click)="toggleSelected(list)" [class.selected]="list.isSelected" style="height: 90%; width:90%">
                            <div style="height:10%;" class="row">
                                <mat-icon style="margin-left: 90%; color: #b68a35;" *ngIf="list.isSelected">check_circle_outline</mat-icon>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <span class="CompanyName">{{list.companyname}}</span>
                                </div>
                                <div class="col-6"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold; font-size: 11px;">{{'label.landingPage.TradeLicenseNo'|translate}}   </label> &nbsp;
                                    <span>{{list.tradelicensenumber}}</span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                  <br>
            <div class="text-right">
          <button (click)="RedirectRegistrationPage()"  mat-button color="primary" class="mr-2" > {{'label.landingPage.RegisterNewCompany'|translate}} </button>
                  &nbsp;&nbsp;
              <button (click)="selectedCompanyProceed()" mat-flat-button color="primary" >{{'label.registration.proceedbtn' | translate }}</button>
            </div>
            </div>
            </div>
          </mat-card>
        </div>
        </div>
</div>
