
 
 

  .company-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between rows if needed */
    width: 300px;
  }

 
  
  .column {
    /* Style for each column within the company-info div */
    flex: 1; /* Each column takes equal space */
    padding: 5px; /* Adjust as needed */
  }
 .CompanyName{
    /* font-weight: bolder;
    padding-top: 20px;
    margin-top: -40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    font-weight: bolder;
    width: 90%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

 }

 mat-card{
  width: 70%; /* Adjust the width as per your requirement */
  margin: 0 auto; /* Center the mat-card horizontally */
 }
 /* .mat-grid-tile-content {
  height: 50% !important;
 } */
 /* mat-grid-tile{
  height: 50%;
 } */

 mat-grid-tile {
  overflow: hidden;
 }


 @media (max-width: 768px) {
  mat-card {
    width: 90%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
  }
}
@media (max-width: 992px) {
  mat-card {
    width: 100%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
  }
}
@media (max-width: 576px) {
  mat-card {
    width: 100%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the mat-card horizontally */
    font-size: 7px;
  }
}


