<!-- <app-loader></app-loader> -->
<div>
  <div class="grid grid-cols-1" color="primary" class="page-header">
    <h3>
     {{'Company Details' | translate}}
    </h3>
  </div>
  <div class="company-bg cooAttestDetails-page">
    <div class="mx-auto cooAttestDetails-window">
      <div class="grid grid-cols-3 gap-4">
        <div
          class="bg-white rounded-lg p-5 col-span-3">
        <div >
  
            <div >
                <div class="w-60 m-auto">
                  <mat-card>
                    <div class="p-4" *ngIf="isanycompanyavailable">
                      <h1 class="pageTitle"> {{'ChooseCompany'|translate}} </h1>
                      <p class="greytitle"> {{'LoginProfile'|translate}} 
                      </p>
                      <!-- Add this within your existing HTML structure -->
<!-- <div class="search-container">
  <input type="text" placeholder="Search for a company..." [(ngModel)]="searchKeyword"  (input)="searchCompanies()"  />
</div> -->
<br>
<!-- <ng-template pTemplate="left"> -->
  <div style="padding: 5px;" class="col-md-3 col-lg-3 col-sm-6">
          <mat-form-field class="searchboxinput" floatLabel="always"  >
            <input  matInput type="text" [(ngModel)]="searchKeyword" (input)="searchCompanies()" placeholder="{{'SearchKeyword' | translate}}">
          </mat-form-field>
  </div>

<!-- </ng-template> -->


                      <div class=" mt-3 grid grid-cols-1 rtl-form">
                          <mat-grid-list  cols="2"  rowHeight="3:1">
                            <mat-grid-tile  *ngFor="let list of CompanyListforAdmin">
                                <div  style=" overflow: hidden; padding: 10px;"  class="company-info"  (click)="toggleSelected(list)" [class.selected]="list.isSelected" >
                                    <div style="height:10%;" class="row">
                                        <mat-icon style="margin-left: 90%; color: #b68a35;" *ngIf="list.isSelected">check_circle_outline</mat-icon>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="CompanyName">{{list.nameofbusiness}}</span>
                                        </div>
                                        <div class="col-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label style="font-weight:bold;">{{'TradeLicenseNo'|translate}}   </label> &nbsp;
                                            <span>{{list.tradelicenseno}}</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </mat-grid-tile>
                          </mat-grid-list>
                          <br>
                    <div class="text-right">
                  <button (click)="RedirectRegistrationPage()"  mat-button color="primary" class="mr-2" > {{'RegisterNewCompany'|translate}} </button>
                          &nbsp;&nbsp;
                      <button (click)="selectedCompanyProceed()" mat-flat-button color="primary" >{{'proceedbtn' | translate }}</button>
                    </div>
                    </div>
                    </div>
                    <div *ngIf="!isanycompanyavailable">
                      <p>
                        {{'Norecordsavailable'|translate}}
                       
                      </p>

                    </div>
                  </mat-card>
                </div>
                </div>
        </div>
        




        </div>
      
      </div>

    </div>
  </div>
</div>
