<form [formGroup]="registrationForm">
  <div class="container cooAttestDetails-window">
    <div class="attest-header">
      <h1 class="mt-0 mb-0 page-title-02">
        {{ "titleCooAttest" | translate }}
      </h1>
      <button
        mat-icon-button
        class="close-button"
        [mat-dialog-close]="true"
      >
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>
    <p class="mt-0 page-title-para">
      {{'Please upload the Country of Origin certificate.' | translate}}
    </p>
    <div class="grid grid-cols-1">
      <div class="cd-upload">
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="cd-upload-field"
        >

        <mat-label>{{'uploadAttachment' | translate }}</mat-label>
        <a mat-button color="primary" (click)="fileInput.click()" class="float-right"><span *ngIf="!isLoading">
          {{ (registrationForm.get('uploadDeclarationFile')?.value === '' ||registrationForm.get('uploadDeclarationFile')?.value === null) ? ('UPLOAD' | translate) : ('Re-upload' | translate )}}
        </span>
        <span  *ngIf="isLoading">
          <mat-spinner diameter="35"></mat-spinner>
        </span>
      </a>
        <input type="text" formControlName="uploadDeclarationFile" name="uploadDeclarationFile" readonly matInput />

        <input accept=".pdf" style="display: none" formControlName="uploadDeclarationFile" name="uploadDeclarationFile" #attachments type="file" (change)="onFileChanged($event)" #fileInput
          />
        <div *ngFor="let selected of listOfFiles; let index = index" class="cd-file-list">
         <span class="doc_selected">{{ selected.name }}</span> &nbsp; &nbsp; &nbsp;<mat-icon>check_circle_outline</mat-icon>
          <small (click)="removeSelectedFile(index)">{{'Remove' | translate }}</small>
        </div>
    <mat-error *ngIf="registrationForm.get('uploadDeclarationFile')?.hasError('required')">   {{ "pleaseuploadAttachment" | translate }}</mat-error>

        </mat-form-field>

        <!-- <p *ngIf="isLoading">Loading.....</p> -->
      </div>
    </div>
  </div>
  <div class="flex justify-center" mat-dialog-actions>
    <div class="grid grid-cols-1 w-30">
      <button
        mat-flat-button
        color="primary"
        class="green-filled-btn w-100 btn-w-30"
        (click)="proceed()"
      >
        {{'Send for Approval' | translate}}
      </button>
    </div>
  </div>
</form>
