<!-- <app-loader></app-loader> -->
<div>
  <div class="grid grid-cols-1" color="primary" class="page-header">
    <h3>
      {{ "label.physicalAttestDetails.mainpage.title" | translate }}
    </h3>
  </div>
  <div class="company-bg physicalAttestDetails-page">
    <div class="mx-auto physicalAttestDetails-window">
      <div class="grid grid-cols-1 gap-4">
        <div class="bg-white rounded-lg p-5 col-span-2">
          <!-- <div class="grid grid-cols-1 add-button">
            <button mat-button (click)="openDialogAttest()">
              <mat-icon>add</mat-icon>
              {{ "label.physicalAttestDetails.addAttest" | translate }}
            </button>
          </div> -->
          <p-table
            [(selection)]="selectedAttestations"
            dataKey="attestationrequno"
            [scrollable]="true"
            selectionMode="multiple"
            #tableref
            [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [totalRecords]="totalrecords"
            [value]="invoiceRequestLists"
            [rows]="10"
            [columns]="cols"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            styleClass="p-datatable-customers p-datatable-gridlines"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'edasreqno',
              'entitycode',
              'invoiceno',
              'invoiceamount',
              'invoicecurrency',
              'invoicedate'
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex grid-header">
                <div class="grid-header-left">
                  <span class="p-input-icon-left p-ml-auto grid-search">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        tableref.filterGlobal(
                          $any($event.target).value,
                          'contains'
                        )
                      "
                      placeholder="Search keyword"
                    />
                  </span>
                </div>
                <div class="grid-header-right">
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="mr-2 grid-header-right-icon"
                    [pTooltip]="'label.excelExport' | translate"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    (click)="clickChips()"
                    class="mr-2 grid-header-right-icon"
                    [ngClass]="{'clicked': enableFilters}"
                    [pTooltip]="'label.filter' | translate"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    (click)="openDialogAttest()"
                    class="mr-2 grid-header-right-icon"
                    [pTooltip]="'label.physicalAttestDetails.addAttest' | translate"
                    tooltipPosition="bottom"
                  ></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <!-- <th style="width: 3rem">
                  <p-tableHeaderCheckbox> </p-tableHeaderCheckbox>
                </th> -->
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header | translate }}
                  <p-sortIcon field="code" *ngIf="enableFilters"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    [field]="col.field"
                    display="menu"
                    *ngIf="enableFilters"
                  ></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <!-- <td>
                  <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </td> -->
                <td>
                  <span class="image-text">{{ data.edasreqno }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.entitycode }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.invoiceno }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.invoiceamount }}</span>
                </td>
                <td>
                  <span class="image-text">{{ data.invoicecurrency }}</span>
                </td>
                <td>
                  <span class="image-text">{{
                    splitdatetime1(data.invoicedate)?.date
                  }}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10">{{ "noDataFound" | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
