<mat-divider></mat-divider>
<div class="company-bg registration-page">
  <div class="container mx-auto px-32 registration-window">
    <div class="grid grid-cols-4 gap-6 px-5 py-3">


      <div class="grid grid-cols-1 bg-yellow-db p-5">
            <div class="grid grid-cols-3">
                    <div>
                      <i class="fa fa-check-circle fa-3x text-white"></i>
                    </div>
            <div class="col-span-2">
                  <div class="text-right">
                    <p>{{'Requests' | translate}}</p>
                    <h1 class="font-bold dashboard-scores">
                      {{ totalTile.noofrequestsubmitted }}
                    </h1>
            </div>
          </div>
        </div>
      </div>



      <div class="grid grid-cols-1 bg-yellow-db p-5">
                <div class="grid grid-cols-3">
                  <div> <i class="fa fa-thumbs-up fa-3x text-white"></i></div>
          <div class="col-span-2">
                <div class="text-right">
                <p>{{'Pending' | translate}}</p>
                <h1 class="font-bold dashboard-scores">
                  {{ totalTile.noofrequestpending }}
                </h1>
              </div>
            </div>
          </div>
      </div>



      <div class="grid grid-cols-1 bg-yellow-db p-5">
              <div class="grid grid-cols-3">
                <div> <i class="fa fa-building fa-3x text-white"></i></div>
        <div class="col-span-2">
              <div class="text-right">

              <p>{{'Completed' | translate}}</p>
              <h1 class="font-bold dashboard-scores">
                {{ totalTile.noofrequestcompleted }}
              </h1>
            </div>
          </div>
        </div>
      </div>


      <div class="grid grid-cols-1 bg-yellow-db p-5">
 
        <div class="grid grid-cols-3">
               <div>
                 <i class="fa fa-home fa-3x text-white"></i>
               </div>
               <div class="col-span-2">
                 <div class="text-right">
           
             <p>{{'In Risk' | translate}}</p>
             <h1 class="font-bold dashboard-scores">
               {{ totalTile.noofrequestinrisk }}
             </h1>
      </div>
               </div>
             </div>
           </div>
     
    </div>
    <!-- attestation request -->
    <div class="grid grid-cols-1 px-5 py-3">
      <div class="grid grid-cols-1 bg-white-r p-5">
        <div class="grid grid-cols-3">
          <div>
            <h1 class="font-bold float-left mr-3">{{'LCA Attestation Requests' | translate}}</h1>
            <div style="width: 100px" class="float-left">
             
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end">
              <mat-list role="list" class="kd-guage-legends rkpi-guage-legends">
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-brown"
                    >circle</mat-icon
                  >{{'Completed' | translate}}
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon class="mr-1 kd-dot kdl-chart-color-black"
                    >circle</mat-icon
                  >{{'Pending' | translate}}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="ps-01">
            <div
              echarts
              [options]="lcaChartOptionattestation"
              class="demo-chart pb-3"
              style="height: 300px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
</div>
