<mat-tab-group>
  <mat-tab label="Timeline" *ngIf="true">
    <div class="grid grid-cols-1">
      <div class="dw-container mt-5">
        <div class="timeline-block timeline-block-right current">
          <div class="marker"></div>
          <div class="timeline-content">
            <div class="float-left ml-3">
              <div class="grid grid-cols-1">
                <div class="w-100">
                  <mat-chip-list>
                    <h6 class="al-title">
                      <span>CREATED</span><mat-icon>check</mat-icon>
                    </h6>
                  </mat-chip-list>
                </div>
                <small
                  ><strong>{{ "createddate" }}</strong></small
                >
                <small>{{ "createdTime" }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-block timeline-block-right active">
          <div class="marker"></div>
          <div class="timeline-content">
            <div class="float-left ml-3">
              <div class="grid grid-cols-1">
                <div class="w-100">
                  <mat-chip-list>
                    <h6 class="al-title">
                      <span>APPROVED</span><mat-icon>check</mat-icon>
                    </h6>
                  </mat-chip-list>
                </div>
                <small
                  ><strong>{{ "approveddate" }}</strong></small
                >
                <small>{{ "approvedTime" }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-block timeline-block-right active">
          <div class="marker"></div>
          <div class="timeline-content">
            <div class="float-left ml-3">
              <div class="grid grid-cols-1">
                <div class="w-100">
                  <mat-chip-list>
                    <h6 class="al-title">
                      <span>PAYMENT</span>
                      <!-- <mat-icon>check</mat-icon> -->
                    </h6>
                  </mat-chip-list>
                </div>
                <small
                  ><strong>{{ "paymentdate" }}</strong></small
                >
                <small>{{ "paymentTime" }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-block timeline-block-right current">
          <div class="marker"></div>
          <div class="timeline-content">
            <div class="float-left ml-3">
              <div class="grid grid-cols-1">
                <div class="w-100">
                  <mat-chip-list>
                    <h6 class="al-title">
                      <span>ATTESTATION</span>
                      <!-- <mat-icon>check</mat-icon> -->
                    </h6>
                  </mat-chip-list>
                </div>
                <small
                  ><strong>{{ "attestationdate" }}</strong></small
                >
                <small>{{ "attestationTime" }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
            <div class="float-left ml-3">
              <div class="grid grid-cols-1">
                <div class="w-100">
                  <mat-chip-list>
                    <h6 class="al-title">
                      <span>COMPLETED</span>
                      <!-- <mat-icon>check</mat-icon> -->
                    </h6>
                  </mat-chip-list>
                </div>
                <small
                  ><strong>{{ "completedDate" }}</strong></small
                >
                <small>{{ "completedTime" }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Payment">
    <div class="grid grid-cols-1">
      <br />
      <br />
      <div class="Frame-18799">
        <div class="row">
          <div class="col-8">
            <mat-label>No. of Invoices selected</mat-label>
          </div>
          <div class="col-4">
            {{ "noOfInvoicesSelected" }}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <mat-label>Total Fines(0)</mat-label>
          </div>
          <div class="col-4">
            {{ "totalFineAmount" }}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <mat-label>Attestation Fees</mat-label>
          </div>
          <div class="col-4">
            {{ "totalAttestationFee" }}
          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <mat-label style="font-size: 18px">Total Amount</mat-label>
            <br />
            <br />
            <mat-label style="font-size: 25px">AED {{ "totalFee" }}</mat-label>
            <br />
            <!-- <mat-label style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </mat-label>  -->

            <span style="font-size: 10px">incl.VAT</span>
          </div>
        </div>
        <div class="row">
          <button mat-flat-button color="primary">pay</button>
        </div>
        <div style="text-align: center; font-size: 10px">
          <span>Powered by</span>&nbsp;<span style="color: rgb(4, 60, 76)"
            >Magnati</span
          >
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="true" label="Preview">
    <div class="grid grid-cols-1">
      <p *ngIf="true">Loading...</p>

      <!-- <div id="pdfContainer"></div> -->
      <div id="outerContainer">
        <div class="pdf-container">
          <pdf-viewer
            [rotation]="0"
            [original-size]="false"
            [show-all]="true"
            [fit-to-page]="false"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="false"
            [render-text]="true"
            [external-link-target]="'blank'"
            [autoresize]="true"
            [show-borders]="false"
            style="width: 100%; height: 600px"
          ></pdf-viewer>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
